/*------------------------------------------------------------
Css of home page
------------------------------------------------------------*/
.c-mainvisual {
    position: relative;
    padding: 0;

    .c-mainvisual__inner {
        position: absolute;
        top: 44.5%;
        left: 10%;
        transform: translate(0%, -50%);
        text-align: center;
        width: 37%;
        text-align: left;
    }
}

.c-about {
    .c-about__main {
        width: 80%;
        position: relative;
        background-color: $main-color;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;

        @include tab {
            width: 87%;
        }

        @include sp {
            width: 97%;
            flex-direction: column-reverse;
        }
    }

    .c-about__left {
        width: 56.8%;
        padding: 13% 0 13% 13%;
        margin-right: 40px;

        @include tab {
            padding: 92px 0 92px 16px;
        }

        @include sp {
            width: 100%;
        }
    }

    .c-about__right {
        width: 56.3%;
        margin-right: -20%;
        padding: 100px 0;

        @include sp {
            margin: 0 auto;
            width: 100%;
        }
    }

    .c-about__wrapimg {
        position: relative;
        max-width: 540px;
        width: 100%;
        margin-bottom: 44px;

        &::after {
            content: "";
            border: 2px solid #fff;
            width: 100%;
            height: 101%;
            position: absolute;
            top: 19px;
            left: -20px;
        }
    }
}

.c-works {
    margin: 100px auto 0;

    .c-work__top {
        margin-bottom: 60px;
    }

    .c-works__main {
        width: 100%;
        display: flex;
        margin-top: 55px;
    }

    .c-works__left {
        width: 43%;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        padding-left: 10px;
    }

    .c-works__right {
        width: 57%;
        padding: 7% 0 0 3%;
        background-color: #eff3f5;
    }

    .c-works__rightmain {
        counter-reset: number;
        display: flex;
        flex-flow: column wrap;
        align-items: flex-start;
    }

    .c-works__item {
        display: flex;
        max-width: 560px;
        width: 100%;
        background-color: $main-color;
        margin-bottom: 21px;

        &::before {
            counter-increment: number;
            content: counter(number);
            display: block;
            margin: auto;
            color: $text-color;
            text-align: center;
            max-width: 54px;
            width: 100%;
        }
    }

    .c-works__feature {
        width: 90%;
        max-width: 506px;
        background-color: $text-color;
        border: 1px solid $main-color;
        display: block;
        padding: 2% 4%;
    }

    .c-works__media {
        margin: 100px auto 0;
    }

    .c-works__mediamain {
        margin: 40px auto 0;
        padding: 40px;
        display: flex;
        flex-flow: row wrap;
        height: 642px;
        max-width: 880px;
        width: 100%;
        border: 1px solid $main-color;
    }

    .c-works__mediatop {
        text-align: center;
    }

    .c-works__col {
        width: 50%;
        flex-basis: 50%;
        height: 560px;

        video {
            width: 100%;
            height: 100%;
            object-fit: cover;
            cursor: pointer;
        }

        &:last-child {
            display: flex;
            flex-wrap: wrap;
        }
    }

    .c-works__photo {
        position: relative;
        width: calc(50% - 21px);
        height: 120px;
        margin: 0 0 21px 21px;

        &:nth-child(7),
        &:nth-child(8) {
            margin-bottom: 0;
        }   

        &:hover > .c-works__pickup {
            opacity: 1;
            cursor: pointer;
        }      
    }
    
}

.c-career {
    margin: 100px auto 0;

    .c-caree__top {
        margin: auto;
    }

    .c-career__banner {
        margin: 100px auto 0;
        width: 100%;
        position: relative;
    }

    .c-career__inner {
        max-width: 489px;
        width: 100%;
        background-color: $text-color;
        padding: 42px 25px 40px 40px;
        position: absolute;
        top: 14%;
        left: 10%;
    }

    .c-career__roadmap {
        max-width: 921px;
        width: 100%;
        margin-top: 74px;
        background-color: #f8f8f8;
        padding: 100px 65px 100px 120px;
    }

    .c-career__roadmapmain {
        padding-top: 50px;
        padding-left: 40px;
    }

    .c-career__roadmapitem {
        max-width: 696px;
        width: 100%;
    }

    .c-career__roadmapquote {
        max-width: 652px;
        width: 100%;
        margin-top: 7%;
        margin-left: 7%;
        padding: 31px 0 33px;
        position: relative;

        &::before {
            content: url("./assets/img/quote-left.svg");
            position: absolute;
            top: 0;
            left: 0;
        }

        &::after {
            content: url("./assets/img/quote-right.svg");
            position: absolute;
            bottom: 0;
            right: 0;
        }
    }

    .c-career__about {
        width: 100%;
        display: flex;
    }

    .c-career__aboutleft {
        width: 43%;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        padding-left: 10px;
    }

    .c-career__aboutright {
        width: 57%;
        padding: 7% 0 0 3%;
        background-color: #fdfbef;
    }

    .c-career__welfarelist {
        max-width: 560px;
        width: 100%;
    }

    .c-career__support {
        margin-top: 65px;
    }
}

.c-interview {
    margin: 100px auto 0;

    .c-interview__list {
        margin: 47px auto 100px;
        max-width: 960px;
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .c-interview__item {
        border: 4px solid $main-color;
        max-width: 314px;
        width: 100%;        
    }
}
