/*------------------------------------------------------------
Css of home page
------------------------------------------------------------*/
.c-mainvisual {
    position: relative;
    padding: 0;

    .c-mainvisual__inner {
        position: absolute;
        top: 44.5%;
        left: 10%;
        transform: translate(0%, -50%);
        text-align: center;
        width: 37%;
        text-align: left;
    }
}

.c-about {
    .c-about__main {
        width: 80%;
        position: relative;
        background-color: $main-color;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;

        @include tab {
            width: 87%;
        }

        @include sp {
            width: 97%;
            flex-direction: column-reverse;
        }
    }

    .c-about__left {
        width: 56.8%;
        padding: 13% 0 13% 13%;
        margin-right: 40px;

        @include tab {
            padding: 92px 0 92px 16px;
        }

        @include sp {
            width: 100%;
        }
    }

    .c-about__right {
        width: 56.3%;
        margin-right: -20%;
        padding: 100px 0;

        @include sp {
            margin: 0 auto;
            width: 100%;
        }
    }

    .c-about__wrapimg {
        position: relative;
        max-width: 540px;
        width: 100%;
        margin-bottom: 44px;

        &::after {
            content: "";
            border: 2px solid #fff;
            width: 100%;
            height: 101%;
            position: absolute;
            top: 19px;
            left: -20px;
        }
    }
}

.c-works {
    .c-work__top{
        margin-bottom: 60px;
    }
    .c-works__main {
        width: 100%;
        display: flex;
    }

    .c-works__left {
        width: 43%;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        padding-left: 10px;
    }

    .c-works__right {
        width: 57%;
        padding: 7% 0 0 3%;
    }
    .c-works__rightmain{        
        counter-reset: number;
        display: flex;
        flex-flow: column wrap;
        align-items: flex-start;        
    }

    .c-works__item {
        display: flex;
        max-width: 560px;
        width: 100%;        
        background-color: $main-color;
        margin-bottom:21px;
        &::before {
            counter-increment: number;
            content: counter(number);
            display: block;
            margin:auto;
            color: $text-color;
            text-align: center;
            max-width: 54px;
            width: 100%;
        }
    }
    .c-works__feature{
        width: 90%;
        background-color: $text-color;
        color: $main-color;
        border: 1px solid $main-color;
        display: block;
        padding:2% 4%;
    }
}