/*------------------------------------------------------------
text
------------------------------------------------------------*/

/*
------------------------------------------------------------*/
.c-about {
    .c-about__p {
        font-size: 1.6rem;
        letter-spacing: 0.4px;
        color: $text-color;
        margin-bottom: 20px;
        line-height: 1.8;
    }
}

.c-works {
    .c-works__desc {
        font-size: 1.6rem;
        font-weight: 400;
        letter-spacing: 0.4px;
        line-height: 1.8;
        color: $subtext-color;
        text-align: center;
    }

    .c-works__descsubtitle {
        font-weight: 400;
        font-size: 1.6rem;
        letter-spacing: 0.4px;
        line-height: 1.5;
        color: $subtext-color;
        margin: 28px 0;
    }

    .c-works__feature {
        color: $main-color;
        line-height: 1.2;
        letter-spacing: 0.5px;
        font-size: 1.8rem;
        font-weight: 300;
    }

    .c-works__mediadesc {
        color: $subtext-color;
        font-weight: 400;
        font-size: 1.6rem;
        letter-spacing: 0.4px;
        line-height: 1.8;
    }

    .c-works__pickup {
        background-color: rgba(255, 255, 255, 0.6);
        color: #005384;
        text-align: center;
        letter-spacing: 0.4px;
        font-size: 1.8rem;
        font-weight: 600;
        line-height: 1.4;
        text-transform: uppercase;
        position: absolute;
        top: 50%;
        left: 50%;
        width: 100%;
        height: 100%;
        transform: translate(-50%, -50%);
        opacity: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        &::before {
            content: url("./assets/img/zoom-in.svg");
            width: 30px;
            height: 30px;
        }               
    }
}

.c-career {
    .c-career__desc {
        color: $subtext-color;
        text-align: center;
        font-size: 1.6rem;
        font-weight: 400;
        letter-spacing: 0.4px;
        line-height: 1.5;
        margin-top: 21px;
    }

    .c-career__subdesc {
        font-size: 1.6rem;
        font-weight: 400;
        color: $td-color;
        letter-spacing: 0.4px;
        line-height: 1.7;
        margin-top: 19px;
    }

    .c-career__roadmapinfo {
        border-left: 1px solid $main-color;
        color: $main-color;
        font-size: 1.6rem;
        letter-spacing: 0.4px;
        line-height: 1.7;
        padding: 5% 0 5% 15%;
        margin-left: 7%;
    }

    .c-career__roadmapqnote {
        color: $sub-color;
        font-size: 2.5rem;
        font-weight: 600;
        letter-spacing: 0.6px;
        line-height: 1.5;
        text-align: center;
        display: block;
    }

    .c-career__welfareitem {
        color: $subtext-color;
        font-size: 1.8rem;
        letter-spacing: 0.5px;
        font-weight: 500;
        line-height: 2;

        &::before {
            font-family: "Font Awesome 5 Free";
            content: "\f111";
            font-size: 0.9rem;
            font-weight: 900;
            color: $subtext-color;
            margin-right: 13px;
        }
    }

    .c-career__welfarenote {
        display: block;
        font-size: 1.6rem;
        font-weight: 300;
        letter-spacing: 0.38px;
        margin-left: 23px;
    }

    .c-career__welfaresubitem {        
        margin-left: 23px;

        li {
            font-size: 1.6rem;
            font-weight: 300;
            color: $subtext-color;
            letter-spacing: 0.4px;
            line-height: 1.5;

            &::before {
                font-family: "Font Awesome 5 Free";
                content: "\f111";
                font-size: 0.2rem;
                font-weight: 900;
                color: $subtext-color;
                margin: auto 8px;
            }
        }
    }

    .c-career__supportinfo {
        margin-top: 27px;
        font-weight: 500;
        font-size: 1.8rem;
        letter-spacing: 0.5px;
        color: $subtext-color;

        &::before {
            font-family: "Font Awesome 5 Free";
            content: "\f111";
            font-size: 0.9rem;
            font-weight: 900;
            color: $subtext-color;
            margin-right: 13px;
        }
    }

    .c-career__supportfirst {
        margin-top: 14px;
        margin-left: 23px;
        font-size: 1.6rem;
        font-weight: 300;
        letter-spacing: 0.4rem;
        line-height: 1.5;
    }

    .c-career__supportitem {        
        &::before {
            font-family: "Font Awesome 5 Free";
            content: "\f111";
            font-size: 0.2rem;
            font-weight: 900;
            color: $subtext-color;
            margin: auto 8px;
        }
    }
}

.c-interview {
    .c-interview__desc {
        margin-top: 19px;
        color: $subtext-color;
        font-size: 1.6rem;
        font-weight: 400;
        letter-spacing: 0.4px;
        line-height: 1.7;
        text-align: center;
    }
}
