/*------------------------------------------------------------
img
------------------------------------------------------------*/

/*
------------------------------------------------------------*/
.c-mainvisual {
    .c-mainvisual__img {
        width: 100%;
        height: calc(100vh - 80px);
        min-height: 500px;
    }

    .slick-active.c-mainvisual__zoomin {
        animation: zoomin 10s infinite linear;
    }

    .slick-active.c-mainvisual__tobottom {
        animation: tobottom 10s infinite linear;
    }

    .slick-active.c-mainvisual__toright {
        animation: toright 10s infinite linear;
    }
}

.c-about {
    .c-about__img {
        object-fit: cover;
    }
}

.c-works {
    .c-works__img {
        object-fit: cover;
        max-width: 400px;
        width: 100%;
    }
}

.c-career {
    .c-career__bannerimg {
        object-fit: cover;
        width: 100%;
    }
}

