.c-mainvisual {
    position: relative;
    padding: 0;

    .c-mainvisual__inner {
        position: absolute;
        top: 52%;
        left: 10%;
        transform: translate(0%, -50%);
        text-align: center;
        width: 48%;
        max-width: 450px;
        text-align: left;
        @include tab {
            top: 52.3%;
            left: 5.2%;
            width: 47%;
        }
        @include sp {
            top: 61.7%;
            left: 5.2%;
            width: 69%;
        }
    }

    .c-mainvisual__btn {
        position: absolute;
        bottom: 13.7%;
        left: 50%;
        transform: translateX(-50%);
        z-index: 1;
        @include tab {
            bottom: 11%;
            left: 51.5%;
        }
        @include sp {
            bottom: 10.5%;
            left: 50.5%;
        }
    }

    .c-mainvisual__btnscroll {
        text-transform: uppercase;
        color: $main-color;
        font-size: 2rem;
        letter-spacing: 0.5px;
        font-weight: 500;
        transition: opacity 1s ease 1s;

        &::after {
            width: 2px;
            height: 30px;
            position: absolute;
            bottom: -141%;
            left: 51%;
            transform: translateX(-50%);
            content: "";
            background-color: $main-color;
            @include tab {
                bottom: -147%;
            }
            @include tab {
                bottom: -130%;
                left: 49%;
                height: 27px;
            }
        }
        @include sp {
            font-size: 1.6rem;
        }
    }

    .c-mainvisual__imgitem {
        width: 100%;
        @include tab {
            height: 100vh;
            object-fit: cover;
        }
        @include sp {
            object-position: right;
        }
    }

    .c-mainvisual__pagetitle {
        color: $text-color;
        font-size: 5rem;
        letter-spacing: 2.5px;
        font-weight: 500;
        line-height: 1.4;
        @include tab {
            font-size: 4rem;
            letter-spacing: 1.8px;
            line-height: 1.3;
        }
        @include sp {
            font-size: 2.8rem;
            letter-spacing: 0.3px;
        }

        &:nth-child(2) {
            padding-right: 8px;
        }
    }

    .c-mainvisual__sub {
        background-color: $main-color;
        display: block;
        width: fit-content;
        padding: 0 8px;
        height: 69px;
        margin-bottom: 17px;
        @include tab {
            height: 50px;
        }
        @include sp {
            margin-bottom: 6px;
            padding: 0 13px 0 6px;
            height: 41px;
        }
    }    

    .c-mainvisual__slogan {
        position: absolute;
        background-color: $text-color;
        letter-spacing: 1.9px;
        text-align: center;
        font-size: 2.6rem;
        line-height: 1.2;
        bottom: 0;
        transform: translate(6px, 0);
        padding: 35px 0 28px;
        left: 9.7%;
        width: 80.1%;
        font-weight: 500;
        @include tab {
            font-size: 2.2rem;
            padding: 20px 0 19px;
            letter-spacing: 1.6px;
            left: 4.4%;
            width: 90%;     
        }
        @include sp {
            font-size: 1.8rem;
            left: 2%;
            width: 95%;
            line-height: 1.4;
            letter-spacing: 0.4px;
            padding: 15px 40px 8px;
            transform: translate(2px, 0);  
        }
    }

    .c-mainvisual__suborange {
        color: $sub-color;
    }

    .c-mainvisual__subblue {
        color: $main-color;
    }

    .c-mainvisual__img {
        width: 100%;
        height: 100vh;
        min-height: 500px;
        object-fit: cover;
        object-position: right;
        @include tab {
            height: 100vh
        }
    }

    .slick-active.c-mainvisual__zoomin {
        animation: zoomin 10s infinite linear;
    }

    .slick-active.c-mainvisual__tobottom {
        animation: tobottom 10s infinite linear;
    }

    .slick-active.c-mainvisual__toright {
        animation: toright 10s infinite linear;
    }
}
