.c-about {
    .c-about__main {
        width: 76.7%;
        position: relative;
        background-color: $main-color;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;

        @include tab {
            width: 87%;
        }

        @include sp {
            width: 97%;
            flex-direction: column-reverse;
        }
    }

    .c-about__left {
        width: 57.8%;
        padding: 12.2% 0 15.8% 13%;

        @include tab {
            width: 60.8%;
            padding: 11.6% 0 0 2.5%;
        }

        @include sp {
            width: 100%;
        }
    }

    .c-about__right {
        width: 58.4%;
        margin-right: -23.7%;
        padding: 100px 0 75px;
        @include tab {
            width: 46%;
            margin-right: -11.6%;
            padding: 61px 0 31px;
        }

        @include sp {
            margin: 0 auto;
            width: 100%;
        }
    }

    .c-about__wrapimg {
        position: relative;
        max-width: 540px;
        width: 100%;
        margin-bottom: 46px;

        &::after {
            content: "";
            border: 2px solid #fff;
            width: 99.5%;
            height: 101%;
            position: absolute;
            top: 19px;
            left: -21px;
            @include tab {
                top: 15px;
                left: -17px;
            }
            @include sp {
                z-index: -5;
            }
        }
    }

    .c-about__title {
        color: $text-color;
        font-size: 3.4rem;
        font-weight: 500;
        letter-spacing: 2.5px;
        margin-bottom: 5.5%;
        @include tab {
            font-size: 3rem;
            letter-spacing: 1.6px;
            line-height: 1.9;
            margin-bottom: 5px;
        }
        @include sp {
            font-size: 2.4rem;
        }
    }

    .c-about__p {
        font-size: 1.6rem;
        letter-spacing: 0.4px;
        color: $text-color;
        margin-bottom: 6.8%;
        line-height: 1.75;
        @include tab {
            font-size: 1.4rem;
            letter-spacing: 0.4px;
            line-height: 1.8;
            margin-bottom: 24px;
        }
    }

    .c-about__img {
        object-fit: cover;
    }
}
