.c-works {
    margin: 0 auto;
    // @include tab {
    //     margin: -4.9% auto 0;
    // }

    .c-works__top {
        @include sp {
            padding: 0 10px;
        }
    }

    .c-works__main {
        width: 100%;
        display: flex;
        margin-top: 60px;
        @include tab {
            margin-top: 37px;
        }
        @include sp {
            flex-direction: column;
            margin-top: 35px;
            padding-left: 10px;
        }
    }

    .c-works__left {
        width: 43.6%;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        padding-left: 10px;
        @include tab {
            width: 40.1%;
            padding-left: 20px;
        }
        @include sp {
            width: 100%;
            flex-direction: row;
            flex-wrap: wrap;
            align-items: flex-end;
            padding-left: 0;
        }
    }

    .c-works__wrapimg {
        @include sp {
            width: 50%;
        }
    }

    .c-works__right {
        width: 57%;
        padding: 8.1% 0 0 3.3%;
        background-color: #eff3f5;
        @include tab {
            width: 60%;
            padding: 7.5% 2.6% 0;
        }
        @include sp {
            width: 100%;
            padding: 34px 10px 15px;
        }
    }

    .c-works__rightmain {
        counter-reset: number;
        display: flex;
        flex-flow: column wrap;       
    }

    .c-works__item {
        display: flex;
        max-width: 560px;
        width: 100%;
        background-color: $main-color;
        margin-bottom: 21px;
        @include tab {
            margin-bottom: 16px;
        }
        @include sp {
            margin-bottom: 10px;
            max-width: 100%;
        }

        &::before {
            counter-increment: number;
            content: counter(number);
            display: block;
            margin: auto;
            color: $text-color;
            text-align: center;
            max-width: 54px;
            width: 100%;
            font-size: 2rem;
            font-weight: 300;
            @include tab {
                width: 40px;
            }
        }

        &:first-child {
            .c-works__feature {
                &:first-child {
                    padding: 2.4% 4.2%;
                    @include tab {
                        padding: 12px 20px 10px 19px;
                    }
                    @include sp {
                        padding: 12px 19px;
                    }
                }
            }
        }

        &:nth-child(2) {
            &::before {
                transform: translate(-1px, -2px);
                @include tab {
                    transform: unset;
                }
            }
        }

        &:nth-child(n + 4) {
            .c-works__feature {
                padding: 2.8% 2.9% 2.3%;
                @include tab {
                    padding: 12px 16px 10px 15px;
                }
                @include sp {
                    padding: 12px 19px;
                }
            }
        }
    }

    .c-works__feature {
        width: 91%;
        max-width: 506px;
        background-color: $text-color;
        border: 1px solid $main-color;
        display: block;
        padding: 2.4% 2.9% 2.6%;
        color: $main-color;
        line-height: 1.5;
        letter-spacing: 0.5px;
        font-size: 1.8rem;
        font-weight: 300;
        @include tab {
            padding: 12px 16px 10px 15px;
            font-size: 1.6rem;
            letter-spacing: 0.4px;
            line-height: 1.4;
            max-width: 95%;
        }
        @include sp {
            font-size: 1.4rem;
            letter-spacing: 0.3px;
            line-height: 1.5;
        }
    }

    .c-works__media {
        margin: 98px auto 0;
        @include tab {
            margin: 8% auto 0;
            padding: 0 20px;
        }
        @include sp {
            padding: 0 10px;
        }
    }

    .c-works__mediamain {
        margin: 40px auto 0;
        padding: 40px;
        display: flex;
        flex-flow: row wrap;
        height: 642px;
        max-width: 880px;
        width: 100%;
        border: 1px solid $main-color;
        @include tab {
            padding: 20px;
            height: 503px;
        }
        @include sp {
            flex-direction: column;
            height: unset;
            max-width: 375px;
            padding: 10px;
            margin: 35px auto 0;
        }
    }

    .c-works__mediatop {
        text-align: center;
    }

    .c-works__col {
        width: 50%;
        flex-basis: 50%;
        height: 560px;
        @include tab {
            height: 462px;
        }
        @include sp {
            width: 100%;
            height: 450px;
        }

        video {
            width: 100%;
            height: 100%;
            object-fit: cover;
            cursor: pointer;
            background-color: rgba(255, 255, 255, 0.2);
            @include sp {
                height: 450px;
            }
        }

        &:last-child {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            @include sp {
                margin-top: 13px;
            }
        }
    }

    .c-works__photo {
        position: relative;
        width: calc(50% - 21px);
        height: 120px;
        margin: 0 0 21px 21px;
        @include tab {
            height: 99px;
            width: calc(50% - 20px);
            margin: 0 0 20px 20px;
        }
        @include sp {
            height: 100px;
            width: calc((100% - 10px) / 2);
            margin: 0 0 10px;
        }

        &:nth-child(7),
        &:nth-child(8) {
            margin-bottom: 0;
        }

        &:hover>.c-works__pickup {
            opacity: 1;
            cursor: pointer;
        }
    }

    .c-works__title {
        padding-top: 100px;
        color: $main-color;
        font-size: 3.4rem;
        font-weight: 500;
        letter-spacing: 2.5px;
        line-height: 1.1;
        text-align: center;
        @include tab {
            font-size: 3rem;
            line-height: 1;
            letter-spacing: 1.6px;
            padding-top: 8%;
        }
        @include sp {
            font-size: 2.4rem;
            letter-spacing: 1.3px;
            line-height: 1.3;
            padding-top: 10%;
        }
    }

    .c-works__subtitle {
        font-size: 3.4rem;
        font-weight: 500;
        letter-spacing: 2.5px;
        color: $main-color;
        line-height: 1.2;
        @include tab {
            font-size: 3rem;
            letter-spacing: 1.6px;
        }
        @include sp {
            font-size: 2.4rem;
            letter-spacing: 1.3px;
            line-height: 1.3;
        }
    }

    .c-works__mediatitle {
        font-size: 3.4rem;
        font-weight: 500;
        letter-spacing: 1.7px;
        color: $main-color;
        line-height: 1;
        @include sp {
            font-size: 2.4rem;
            letter-spacing: 0.8px;
            line-height: 1.6;
            transform: translate(0, -2px);
        }
    }

    .c-works__desc {
        margin-top: 13px;
        font-size: 1.6rem;
        font-weight: 400;
        letter-spacing: 0.4px;
        line-height: 1.7;
        color: $subtext-color;
        text-align: center;
        @include tab {
            font-size: 1.4rem;
            letter-spacing: 0.3px;
            margin-top: 15px;
        }
        @include sp {
            margin-top: 3px;
            letter-spacing: 0.4px;
            line-height: 1.55;
        }
    }

    .c-works__descsubtitle {
        font-weight: 400;
        font-size: 1.6rem;
        letter-spacing: 0.4px;
        line-height: 1.5;
        color: $subtext-color;
        margin: 14px 0 34px;
        @include tab {
            font-size: 1.4rem;
            line-height: 1.5;
            letter-spacing: 0.3px;
            margin: 10px 0 19px;
        }
        @include sp {
            margin: 6px 0 17px;
        }
    }

    .c-works__mediadesc {
        color: $subtext-color;
        font-weight: 400;
        font-size: 1.6rem;
        letter-spacing: 0.4px;
        line-height: 1;
        margin-top: 25px;
        @include tab {
            margin-top: 19px;
        }
        @include sp {
            font-size: 1.4rem;
            letter-spacing: 0.3px;
            line-height: 1.55;
            margin-top: 0;
        }
    }

    .c-works__pickup {
        background-color: rgba(255, 255, 255, 0.6);
        color: #005384;
        text-align: center;
        letter-spacing: 0.4px;
        font-size: 1.8rem;
        font-weight: 600;
        line-height: 1.4;
        text-transform: uppercase;
        position: absolute;
        top: 50%;
        left: 50%;
        width: 100%;
        height: 100%;
        transform: translate(-50%, -50%);
        opacity: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        &::before {
            content: url("./assets/img/zoom-in.svg");
            width: 30px;
            height: 30px;
        }
    }

    .c-works__img {
        object-fit: cover;
        max-width: 400px;
        width: 100%;
        height: 100%;
    }

    .c-works__photoitem {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}
