.c-career {
    margin: 93px auto 0;

    @include tab {
        margin: 7% auto 0;
    }

    .c-career__top {
        margin: auto;
    }

    .c-career__banner {
        margin: 101px auto 0;
        width: 100%;
        position: relative;

        @include tab {
            margin: 4% auto 0;
        }
    }

    .c-career__inner {
        max-width: 489px;
        width: 100%;
        background-color: $text-color;
        padding: 38px 25px 33px 40px;
        position: absolute;
        top: 14.2%;
        left: 10%;

        @include tab {
            max-width: 383px;
            padding: 34px 29px 32px 40px;
            top: 10.6%;
            left: 2.6%;
        }

        @include sp {
            position: relative;
            top: unset;
            left: unset;
        }
    }

    .c-career__roadmap {
        width: 76.8%;
        margin-top: 74px;
        background-color: #f8f8f8;
        padding: 8% 5% 8.1% 10%;

        @include tab {
            padding: 51px 38px 59px 41px;
            width: 87%;
            margin-top: 0;
        }
        @include sp{
            width: 97%;
        }
    }

    .c-career__roadmapmain {
        padding-top: 46px;
        padding-left: 40px;

        @include tab {
            padding-top: 3.4%;
            padding-left: 6.8%;
        }
    }

    .c-career__roadmapitem {
        &:nth-child(2) {
            .c-career__roadmapinfo {
                margin-top: 10px;

                @include tab {
                    margin-top: 9px;
                    transform: translateY(-4px);
                }
            }
        }

        &:nth-child(3) {
            .c-career__roadmapinfo {
                margin-bottom: 19px;

                @include tab {
                    margin-bottom: 4px;
                }
            }
        }

        &:nth-child(4) {
            .c-career__roadmapinfo {
                line-height: 1.75;
                margin-right: -1px;
            }
        }
    }

    .c-career__roadmapquote {
        max-width: 652px;
        width: 100%;
        margin-top: 5.1%;
        margin-left: 5.7%;
        padding: 27px 0 39px;
        position: relative;

        @include tab {
            margin-top: -4.4%;
            margin-left: 7.1%;
            padding: 24px 0 36px;
        }

        &::before {
            content: url("./assets/img/quote-left.svg");
            position: absolute;
            top: 0;
            left: 0;
        }

        &::after {
            content: url("./assets/img/quote-right.svg");
            position: absolute;
            bottom: 0;
            right: 0;

            @include tab {
                bottom: -3%;
                right: 7.1%;
            }
        }
    }

    .c-career__about {
        width: 100%;
        display: flex;
        @include sp{
            flex-direction: column;
        }
    }

    .c-career__aboutleft {
        width: 43.6%;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        padding-left: 10px;

        @include tab {
            width: 40%;
        }
        @include sp{
            width: 100%;
            flex-direction: row;
            flex-wrap: wrap;
        }
    }

    .c-career__img {
        max-height: 309px;
        height: 100%;
        &:first-child{
            height: 237px;
        } 
        @include sp{
            width: 50%;
            height: 120px;
        }  
    }

    .c-career__aboutright {
        width: 57%;
        padding: 7.7% 0 0 3.3%;
        background-color: #fdfbef;

        @include tab {
            padding: 7% 0 0 2.7%;
        }
        @include sp{
            width: 100%;
        }
    }

    .c-career__welfarelist {
        max-width: 560px;
        width: 100%;
        margin-top: 7px;
    }

    .c-career__support {
        margin-top: 54px;

        @include tab {
            margin-top: 47px;
        }
    }

    .c-career__title {
        color: $main-color;
        font-size: 3.4rem;
        font-weight: 500;
        line-height: 1.5;
        letter-spacing: 2.4px;
        text-align: center;

        @include tab {
            font-size: 2.6rem;
            letter-spacing: 1.4px;
            line-height: 1.7;
        }
    }

    .c-career__titleedit {
        display: block;
        transform: translate(3px, -2px);
    }

    .c-career__subtitle {
        font-size: 3.4rem;
        font-weight: 500;
        letter-spacing: 0.8px;
        color: $main-color;
        line-height: 1.3;
        padding-right: 2%;

        @include tab {
            font-size: 3rem;
            letter-spacing: 1.6px;
            line-height: 1.5;
        }
    }

    .c-career__roadmaptitle {
        color: $main-color;
        font-size: 3.4rem;
        font-weight: 500;
        letter-spacing: 0.8px;
        line-height: 1.3;

        @include tab {
            font-size: 3rem;
            letter-spacing: 1.6px;
            line-height: 1.5;
        }
    }

    .c-career__milestones {
        font-size: 2.5rem;
        letter-spacing: 0.6px;
        font-weight: 600;
        color: $main-color;
        line-height: 1.5;
    }

    .c-career__welfare {
        color: $sub-color;
        letter-spacing: 0.7px;
        font-size: 2.8rem;
        font-weight: 500;
        line-height: 1.5;
    }

    .c-career__supporttitle {
        color: $sub-color;
        font-weight: 500;
        font-size: 2.8rem;
        letter-spacing: 0.7px;
    }

    .c-career__desc {
        color: $subtext-color;
        text-align: center;
        font-size: 1.6rem;
        font-weight: 400;
        letter-spacing: 0.4px;
        line-height: 1.75;
        margin-top: 17px;

        @include tab {
            font-size: 1.4rem;
            letter-spacing: 0.3px;
            line-height: 1.8;
            margin-top: 20px;
        }
    }

    .c-career__subdesc {
        font-size: 1.6rem;
        font-weight: 400;
        color: $td-color;
        letter-spacing: 0.4px;
        line-height: 1.88;
        margin-top: 11px;

        @include tab {
            font-size: 1.4rem;
            line-height: 1.8;
            letter-spacing: 0.3px;
            margin-top: 9px;
        }
    }

    .c-career__roadmapinfo {
        border-left: 1px solid $main-color;
        color: $main-color;
        font-size: 1.6rem;
        letter-spacing: 0.4px;
        line-height: 1.7;
        padding: 12px 0 17px 86px;
        margin: 15px 0 16px 51px;

        @include tab {
            padding: 16px 0 26px 40px;
            margin: 4px 0 0 51px;
        }
    }

    .c-career__roadmapqnote {
        color: $sub-color;
        font-size: 2.5rem;
        font-weight: 600;
        letter-spacing: 0.6px;
        line-height: 1.5;
        text-align: center;
        display: block;

        @include tab {
            font-size: 2.1rem;
            letter-spacing: 0.5px;
            line-height: 1.8;
            transform: translateX(-19px);
        }
    }

    .c-career__welfareitem {
        color: $subtext-color;
        font-size: 1.8rem;
        letter-spacing: 0.5px;
        font-weight: 500;
        line-height: 1.7;
        margin-bottom: 11px;

        @include tab {
            margin-bottom: 9px;
        }

        &::before {
            font-family: "Font Awesome 5 Free";
            content: "\f111";
            font-size: 0.8rem;
            font-weight: 900;
            color: $subtext-color;
            margin-right: 10px;
            transform: translate(2px, -1.5px);
            display: inline-block;
        }

        &:nth-child(2) {
            transform: translateY(3px);

            @include tab {
                transform: translateY(0);
            }

            .c-career__welfarenote {
                margin-top: 4px;
                margin-left: 26px;

                @include tab {
                    margin-top: 8px;
                    margin-left: 23px;
                }
            }
        }

        &:nth-child(3) {
            transform: translateY(2px);

            @include tab {
                transform: translateY(1px);
            }

            .c-career__welfareitemsub {
                @include tab {
                    font-size: 1.4rem;
                    font-weight: 400;
                    letter-spacing: 0.3px;
                    margin-left: -6px;
                }
            }
        }
    }

    .c-career__welfareicon {
        font-size: 1.3rem;
        margin-left: -4px;

        @include tab {
            margin-left: -6px;
        }
    }

    .c-career__welfarenote {
        display: block;
        font-size: 1.6rem;
        font-weight: 300;
        letter-spacing: 0.38px;
        margin-left: 24px;
        margin-top: 11px;

        @include tab {
            font-size: 1.4rem;
            letter-spacing: 0.4px;
            line-height: 1.8;
            margin-top: 5px;
        }
    }

    .c-career__welfaresubitem {
        margin-left: 23px;
        margin-top: 10px;

        @include tab {
            margin-left: 20px;
            margin-top: 6px;
        }
    }

    .c-career__welfaresubitemtext {
        font-size: 1.6rem;
        font-weight: 300;
        color: $subtext-color;
        letter-spacing: 0.4px;
        line-height: 1.75;

        @include tab {
            font-size: 1.4rem;
            letter-spacing: 0.3px;
            line-height: 1.8;
        }

        &::before {
            font-family: "Font Awesome 5 Free";
            content: "\f111";
            font-size: 0.2rem;
            font-weight: 900;
            color: $subtext-color;
            margin: auto 8px;
            display: inline-block;
            transform: translateY(-4px);
        }
    }

    .c-career__welfareitemsub {
        font-size: 1.6rem;
        letter-spacing: 0.5px;
        font-weight: 300;
    }

    .c-career__supportinfo {
        margin-top: 14px;
        margin-left: 2px;
        font-weight: 500;
        font-size: 1.8rem;
        letter-spacing: 0.5px;
        color: $subtext-color;

        @include tab {
            font-size: 1.8rem;
            letter-spacing: 0.5px;
            line-height: 1.7;
            margin-top: 9px;
            margin-left: 1px;
        }

        &::before {
            font-family: "Font Awesome 5 Free";
            content: "\f111";
            font-size: 0.9rem;
            font-weight: 900;
            color: $subtext-color;
            margin-right: 7px;
        }
    }

    .c-career__supportfirst {
        margin-top: 11px;
        margin-left: 23px;
        font-size: 1.6rem;
        font-weight: 300;
        letter-spacing: 0.4px;
        line-height: 1.7;

        @include tab {
            margin-top: 7px;
        }
    }

    .c-career__supportitem {
        line-height: 1.77;
        margin-left: -3px;

        &::before {
            font-family: "Font Awesome 5 Free";
            content: "\f111";
            font-size: 0.2rem;
            font-weight: 900;
            color: $subtext-color;
            margin: auto 8px;
            display: inline-block;
            transform: translateY(-4px);
        }
    }

    .c-career__bannerimg {
        object-fit: cover;
        width: 100%;
    }
}
