.c-career {
    margin: 93px auto 0;

    .c-career__top {
        margin: auto;
    }

    .c-career__banner {
        margin: 100px auto 0;
        width: 100%;
        position: relative;
    }

    .c-career__inner {
        max-width: 489px;
        width: 100%;
        background-color: $text-color;
        padding: 38px 25px 31px 40px;
        position: absolute;
        top: 14.5%;
        left: 10%;
    }

    .c-career__roadmap {
        max-width: 921px;
        width: 100%;
        margin-top: 74px;
        background-color: #f8f8f8;
        padding: 96px 65px 98px 120px;
    }

    .c-career__roadmapmain {
        padding-top: 46px;
        padding-left: 40px;
    }

    .c-career__roadmapitem {
        max-width: 700px;
        width: 100%;

        &:nth-child(2) {
            .c-career__roadmapinfo {
                margin-top: 10px;
            }
        }

        &:nth-child(3) {
            .c-career__roadmapinfo {
                margin-bottom: 19px;
            }
        }

        &:nth-child(4) {
            .c-career__roadmapinfo {
                line-height: 1.75;
                margin-right: -1px;
            }
        }
    }

    .c-career__roadmapquote {
        max-width: 652px;
        width: 100%;
        margin-top: 5.2%;
        margin-left: 5.8%;
        padding: 27px 0 39px;
        position: relative;

        &::before {
            content: url("./assets/img/quote-left.svg");
            position: absolute;
            top: 0;
            left: 0;
        }

        &::after {
            content: url("./assets/img/quote-right.svg");
            position: absolute;
            bottom: 0;
            right: 0;
        }
    }

    .c-career__about {
        width: 100%;
        display: flex;
    }

    .c-career__aboutleft {
        width: 43.3%;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        padding-left: 10px;
    }

    .c-career__img {
        &:nth-child(1) {
            height: 237px;
        }

        &:nth-child(2) {
            height: 309px;
        }

        &:nth-child(3) {
            height: 281px;
        }

        &:nth-child(4) {
            height: 280px;
        }
    }

    .c-career__aboutright {
        width: 57%;
        padding: 7.8% 0 0 3.4%;
        background-color: #fdfbef;
    }

    .c-career__welfarelist {
        max-width: 560px;
        width: 100%;
        margin-top: 6px;
    }

    .c-career__support {
        margin-top: 53px;
    }

    .c-career__title {
        color: $main-color;
        font-size: 3.4rem;
        font-weight: 500;
        line-height: 1.5;
        letter-spacing: 2.6px;
        text-align: center;
    }

    .c-career__subtitle {
        font-size: 3.4rem;
        font-weight: 500;
        letter-spacing: 0.8px;
        color: $main-color;
        line-height: 1.3;
        padding-right: 2%;
    }

    .c-career__roadmaptitle {
        color: $main-color;
        font-size: 3.4rem;
        font-weight: 500;
        letter-spacing: 0.8px;
        line-height: 1.3;
    }

    .c-career__milestones {
        font-size: 2.5rem;
        letter-spacing: 0.6px;
        font-weight: 600;
        color: $main-color;
        line-height: 1.5;
    }

    .c-career__welfare {
        color: $sub-color;
        letter-spacing: 0.7px;
        font-size: 2.8rem;
        font-weight: 500;
        line-height: 1.5;
    }

    .c-career__supporttitle {
        color: $sub-color;
        font-weight: 500;
        font-size: 2.8rem;
        letter-spacing: 0.7px;
    }

    .c-career__desc {
        color: $subtext-color;
        text-align: center;
        font-size: 1.6rem;
        font-weight: 400;
        letter-spacing: 0.4px;
        line-height: 1.75;
        margin-top: 17px;
    }

    .c-career__subdesc {
        font-size: 1.6rem;
        font-weight: 400;
        color: $td-color;
        letter-spacing: 0.4px;
        line-height: 1.88;
        margin-top: 11px;
    }

    .c-career__roadmapinfo {
        border-left: 1px solid $main-color;
        color: $main-color;
        font-size: 1.6rem;
        letter-spacing: 0.4px;
        line-height: 1.7;
        padding: 12px 0 17px 86px;
        margin: 15px 0 16px 52px;
    }

    .c-career__roadmapqnote {
        color: $sub-color;
        font-size: 2.5rem;
        font-weight: 600;
        letter-spacing: 0.6px;
        line-height: 1.5;
        text-align: center;
        display: block;
    }

    .c-career__welfareitem {
        color: $subtext-color;
        font-size: 1.8rem;
        letter-spacing: 0.5px;
        font-weight: 500;
        line-height: 1.7;
        margin-bottom: 11px;

        &::before {
            font-family: "Font Awesome 5 Free";
            content: "\f111";
            font-size: 0.7rem;
            font-weight: 900;
            color: $subtext-color;
            margin-right: 10px;
            transform: translate(2.5px, -2px);
            display: inline-block;
        }

        &:nth-child(2) {
            transform: translateY(3px);

            .c-career__welfarenote {
                margin-top: 4px;
                margin-left: 26px;
            }
        }

        &:nth-child(3) {
            transform: translateY(2px);
        }
    }

    .c-career__welfareicon {
        font-size: 1.3rem;
        margin-left: -4px;
    }

    .c-career__welfarenote {
        display: block;
        font-size: 1.6rem;
        font-weight: 300;
        letter-spacing: 0.38px;
        margin-left: 24px;
        margin-top: 11px;
    }

    .c-career__welfaresubitem {
        margin-left: 23px;
        margin-top: 10px;
    }

    .c-career__welfaresubitemtext {
        font-size: 1.6rem;
        font-weight: 300;
        color: $subtext-color;
        letter-spacing: 0.4px;
        line-height: 1.75;

        &::before {
            font-family: "Font Awesome 5 Free";
            content: "\f111";
            font-size: 0.2rem;
            font-weight: 900;
            color: $subtext-color;
            margin: auto 8px;
            display: inline-block;
            transform: translateY(-4px);
        }
    }

    .c-career__welfareitemsub {
        font-size: 1.6rem;
        letter-spacing: 0.5px;
        font-weight: 300;
    }

    .c-career__supportinfo {
        margin-top: 15px;
        margin-left: 2px;
        font-weight: 500;
        font-size: 1.8rem;
        letter-spacing: 0.5px;
        color: $subtext-color;

        &::before {
            font-family: "Font Awesome 5 Free";
            content: "\f111";
            font-size: 0.9rem;
            font-weight: 900;
            color: $subtext-color;
            margin-right: 7px;
        }
    }

    .c-career__supportfirst {
        margin-top: 10px;
        margin-left: 23px;
        font-size: 1.6rem;
        font-weight: 300;
        letter-spacing: 0.4px;
        line-height: 1.7;
    }

    .c-career__supportitem {
        line-height: 1.77;
        margin-left: -2px;

        &::before {
            font-family: "Font Awesome 5 Free";
            content: "\f111";
            font-size: 0.2rem;
            font-weight: 900;
            color: $subtext-color;
            margin: auto 8px;
            display: inline-block;
            transform: translateY(-4px);
        }
    }

    .c-career__bannerimg {
        object-fit: cover;
        width: 100%;
    }
}
