.c-interview {
    margin: 105px auto 0;

    .c-interview__list {
        margin: 53px auto 141px;
        max-width: 960px;
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .c-interview__item {
        border: 4px solid $main-color;
        max-width: 314px;
        height: 519px;
        width: 100%;

        &:hover {
            cursor: pointer;

            .c-interview__info {
                background-color: #005384;
            }

            .c-interview__interview {
                opacity: 1;
            }
        }

        &:nth-child(2) {
            .c-interview__intro {
                transform: translateX(4px);
            }

            .c-interview__text {
                transform: translate(5px, 2px);
            }
        }

        &:nth-child(3) {
            .c-interview__text {
                transform: translate(5px, 2px);
            }
        }
    }

    .c-interview__avatar {
        height: 100%;
        width: 100%;
        object-fit: cover;
    }

    .c-interview__info {
        background-color: $main-color;
        margin: auto 7px;
        padding: 3% 6% 4.2%;
        display: flex;

        &::before {
            content: url("./assets/img/arrow-circle.svg");
            margin: auto 0;
            display: inline-block;
            transform: translateY(4px);
        }
    }

    .c-interview__text {
        padding-left: 6.3%;
        transform: translateY(2px);
    }

    .c-interview__message {
        width: 100%;
        margin: 0 auto;
        background-color: $main-color;
        padding: 8.5% 10% 10%;
    }

    .c-interview__messwrap {
        max-width: 960px;
        width: 100%;
        margin: auto;
    }

    .c-interview__messmain {
        display: flex;
        justify-content: space-between;
    }

    .c-interview__messtext {
        flex-basis: 65.6%;
    }

    .c-interview__messimg {
        flex-basis: 29%;
        margin-top: -0.5%;
    }

    .c-interview__unit {
        margin-right: 17px;
    }

    .c-interview__bottom {
        display: flex;
        flex-wrap: wrap;
        margin: 0 auto;
        padding: 0 4%;
    }

    .c-interview__logo {
        max-width: 308px;
        width: 100%;
        margin-right: 7.7%;
    }

    .c-interview__row {
        display: flex;
        margin-bottom: 22px;
    }

    .c-interview__title {
        font-size: 4.4rem;
        font-weight: 500;
        letter-spacing: 3.3px;
        color: $main-color;
        line-height: 1;
        text-align: center;
        transform: translateX(1px);
    }

    .c-interview__messtitle {
        font-size: 3.4rem;
        font-weight: 500;
        color: $text-color;
        letter-spacing: 2.5px;
        line-height: 1;
        margin-bottom: 54px;              
    }

    .c-interview__quote {
        color: $text-color;
        font-weight: 500;
        font-size: 2.4rem;
        letter-spacing: 0.6px;
        line-height: 1;
        margin-bottom: 34px;
    }

    .c-interview__mess {
        color: $text-color;
        font-weight: 500;
        font-size: 2.4rem;
        letter-spacing: 0.5px;
        line-height: 1.9;
        margin-top: 23px;
    }

    .c-interview__desc {
        margin-top: 14px;
        color: $subtext-color;
        font-size: 1.6rem;
        font-weight: 400;
        letter-spacing: 0.4px;
        line-height: 1.7;
        text-align: center;
    }

    .c-interview__interview {
        opacity: 0;
        text-transform: uppercase;
        font-size: 2.4rem;
        font-weight: 600;
        letter-spacing: 0.6px;
        line-height: 1.2;
        text-align: center;
        background-color: rgba(255, 255, 255, 74%);
        color: #005384;
        width: 100%;
        height: 100%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        &::before {
            content: url("./assets/img/zoom-in.svg");
            width: 30px;
            height: 30px;
        }
    }

    .c-interview__intro {
        color: $main-color;
        font-size: 1.8rem;
        letter-spacing: 0.4px;
        font-weight: 600;
        padding: 16px 35px 15px 21px;
    }

    .c-interview__name {
        font-size: 2rem;
        font-weight: 400;
        color: $text-color;
        letter-spacing: 0.5px;
        line-height: 1.5;
    }

    .c-interview__position {
        font-size: 1.4rem;
        font-weight: 400;
        letter-spacing: 0.4px;
        color: $text-color;
        line-height: 2;
    }

    .c-interview__p {
        color: $text-color;
        font-weight: 300;
        font-size: 1.6rem;
        letter-spacing: 0.4px;
        line-height: 1.73;
        margin-bottom: 29px;
    }

    .c-interview__signal {
        margin-top: 29px;
        color: $text-color;
        font-size: 2.2rem;
        font-weight: 500;
        letter-spacing: 0.5px;
        line-height: 1;
    }

    .c-interview__origin {
        font-size: 3.4rem;
        font-weight: 500;
        letter-spacing: 2.5px;
        line-height: 1;
        color: $text-color;
        margin-top: 60px;
        margin-bottom: 52px;                                                        
    }

    .c-interview__colleft {
        color: $text-color;
        font-size: 2.4rem;
        font-weight: 500;
        letter-spacing: 0.6px;
        line-height: 1;
        width: 38px;    
    }

    .c-interview__colright {
        color: $text-color;
        font-size: 2.4rem;
        font-weight: 500;
        letter-spacing: 0.6px;
        line-height: 1;

        &::before {
            content: "";
            display: inline-block;
            background-color: $text-color;
            width: 62px;
            height: 1px;
            margin: 0 16px 0 18px;
            transform: translateY(-7px);
        }
    }

    .c-interview__ava {
        position: relative;
        height: 390px;
    }
}
