.c-interview {
    margin: 105px auto 0;

    @include tab {
        margin: 50px auto 0;
    }
    @include sp {
        margin: 34px auto 0;
    }

    .c-interview__list {
        margin: 53px auto 142px;
        max-width: 960px;
        width: 100%;
        display: flex;
        justify-content: space-between;

        @include tab {
            margin: 4.1% auto 11.2%;
            padding: 0 20px;
        }
        @include sp {
            max-width: 100%;
            flex-direction: column;
            margin: 35px auto 18px;
        }
    }

    .c-interview__item {
        border: 4px solid $main-color;
        width: calc((100% - 18px) / 3);
        max-width: 314px;
        position: relative;
        @include tab {
            width: calc((100% - 37px) / 3);
        }
        @include sp {
            width: 100%;
            max-width: 335px;
            margin: 0 auto 49px;
            border: 2px solid $main-color;
        }

        &:hover {
            cursor: pointer;

            .c-interview__info {
                background-color: #005384;
            }

            .c-interview__interview {
                opacity: 1;
            }
        }

        &:first-child {
            @include sp {
                .c-interview__intro {
                    margin-top: -24px;
                }
            }
        }

        &:nth-child(2) {
            .c-interview__intro {
                transform: translateX(4px);

                @include tab {
                    transform: translateX(0);
                }
                @include sp {
                    transform: translate(-2px, -5px);
                }
            }

            .c-interview__text {
                transform: translate(5px, 2px);

                @include tab {
                    transform: translate(0, 0);
                }
            }
        }

        &:nth-child(3) {
            .c-interview__text {
                transform: translate(5px, 2px);

                @include tab {
                    transform: translate(0, 0);
                }
            }

            .c-interview__intro {
                @include sp {
                    transform: translate(-2px, -4px);
                }
            }

            .c-interview__info {
                @include sp {
                    bottom: -16%;
                }
            }
        }
    }

    .c-interview__itemtop {
        @include sp {
            display: flex;
            align-items: center;
        }
    }

    .c-interview__avatar {
        width: 100%;
        object-fit: cover;
        height: 390px;
        @include tab {
            height: 278px;
        }
        @include sp {
            min-height: 204px;
            height: 100%;
        }
    }

    .c-interview__info {
        background-color: $main-color;
        margin: auto 6px;
        padding: 3.4% 0 4.4%;
        display: flex;
        position: relative;
        width: 96%;
        margin-bottom: -45px;
        @include tab {
            margin: auto 16px;
            padding: 4.3% 0 6%;
            width: 86%;
            margin-bottom: -52px;
        }
        @include sp {
            margin-bottom: unset;
            position: absolute;
            bottom: -15.5%;
            width: 84.5%;
            padding: 8px 10px;
            margin: auto 26px;
        }

        &::before {
            content: url("./assets/img/arrow-circle.svg");
            margin: auto 0;
            display: inline-block;
            transform: translate(19px, 4px);
            margin-right: 12%;
            @include tab {
                margin-right: 11.5%;
                transform: scale(0.8) translate(13px, 5px);
            }
            @include sp {
                transform: scale(0.8) translate(11px, 4px);
                margin-right: 25px;
            }
        }
    }

    .c-interview__text {
        transform: translateY(2px);
    }

    .c-interview__message {
        width: 100%;
        margin: 0 auto;
        background-color: $main-color;
        padding: 8.4% 10% 9.8%;

        @include tab {
            padding: 59px 20px 41px;
        }
        @include sp {
            padding: 54px 20px 0;
        }
    }

    .c-interview__messwrap {
        max-width: 960px;
        width: 100%;
        margin: auto;
    }

    .c-interview__messmain {
        display: flex;
        justify-content: space-between;
        @include sp {
            flex-direction: column;
        }
    }

    .c-interview__messtext {
        flex-basis: 65.6%;
        @include tab {
            flex-basis: 61.6%;
        }
        @include sp {
            flex-basis: 100%;
        }
    }

    .c-interview__messimg {
        flex-basis: 29.1%;
        margin-top: -0.6%;
        @include tab {
            flex-basis: 35.8%;
            margin-top: -1.1%;
        }
        @include sp {
            width: 72.7%;
            margin: 1px auto 0;
        }
    }

    .c-interview__dot {
        margin-left: -1px;
        margin-right: -2px;
        @include sp {
            margin: 0 1px 0 -2px;
        }
    }

    .c-interview__unit {
        margin-right: 17px;
        @include tab {
            margin-right: 14px;
        }
    }

    .c-interview__bottom {
        display: flex;
        margin: 0 auto;
        margin-left: 4.2%;

        @include tab {
            margin: 0 auto;
        }
        @include sp {
            flex-direction: column;
            max-width: 335px;
        }
    }

    .c-interview__logo {
        max-width: 308px;
        width: 100%;
        margin-right: 7.4%;

        @include tab {
            max-width: 247px;
            margin-right: 41px;
        }
        @include sp {
            max-width: 100%;
            margin-right: 0;
        }
    }

    .c-interview__explan {
        @include tab {
            margin-top: -8px;
        }
        @include sp {
            margin-top: 27px;
            padding: 0 10px;
        }
    }

    .c-interview__row {
        display: flex;
        margin-bottom: 22px;
        @include tab {
            margin-bottom: 26px;
        }
        @include sp {
            margin-bottom: 21px;
        }
    }

    .c-interview__title {
        font-size: 4.4rem;
        font-weight: 500;
        letter-spacing: 3.2px;
        color: $main-color;
        line-height: 1;
        text-align: center;

        @include tab {
            font-size: 3rem;
            letter-spacing: 1.6px;
            line-height: 1.5;
        }
        @include sp {
            font-size: 2.4rem;
            letter-spacing: 1.3px;
            line-height: 1.3;;
        }
    }

    .c-interview__messtitle {
        font-size: 3.4rem;
        font-weight: 500;
        color: $text-color;
        letter-spacing: 2.5px;
        line-height: 1;
        margin-bottom: 55px;
        @include tab {
            margin-bottom: 40px;
        }
        @include sp {
            font-size: 2.4rem;
            letter-spacing: 1.3px;
            line-height: 1.3;
            margin-bottom: 30px;
        }
    }

    .c-interview__messtitlesp {
        display: none;
        @include sp {
            display: contents;
            font-size: 2.4rem;
            letter-spacing: 1.3px;
            line-height: 1.3;
            color: $text-color;
            font-weight: 500;
        }
    }

    .c-interview__quote {
        color: $text-color;
        font-weight: 500;
        font-size: 2.4rem;
        letter-spacing: 0.6px;
        line-height: 1;
        margin-bottom: 34px;

        @include tab {
            font-size: 2rem;
            letter-spacing: 1.1px;
            margin-bottom: 35px;
        }
        @include sp {
            font-size: 2rem;
            letter-spacing: 1.1px;
            line-height: 1.6;
            text-indent: -14px;
            margin-bottom: 31px;
        }
    }

    .c-interview__mess {
        color: $text-color;
        font-weight: 500;
        font-size: 2.4rem;
        letter-spacing: 0.5px;
        line-height: 1.9;
        margin-top: 23px;
        width: 99%;

        @include tab {
            font-size: 2rem;
            letter-spacing: 0.5px;
            line-height: 2.1;
            width: 88%;
            margin-top: 16px;
        }
        @include sp {
            font-size: 1.6rem;
            letter-spacing: 0.2px;
            line-height: 1.7;
            width: 100%;
            margin-top: 14px;
        }
    }

    .c-interview__desc {
        margin-top: 14px;
        color: $subtext-color;
        font-size: 1.6rem;
        font-weight: 400;
        letter-spacing: 0.3px;
        line-height: 1.7;
        text-align: center;

        @include tab {
            font-size: 1.4rem;
            letter-spacing: 0.3px;
            line-height: 1.8;
            margin-top: 7px;
            transform: translateX(2px);
        }
        @include sp {
            line-height: 1.6;
            margin-top: 12px;
            transform: translateX(0);
        }
    }

    .c-interview__interview {
        opacity: 0;
        text-transform: uppercase;
        font-size: 2.4rem;
        font-weight: 600;
        letter-spacing: 0.6px;
        line-height: 1.2;
        text-align: center;
        background-color: rgba(255, 255, 255, 74%);
        color: #005384;
        width: 100%;
        height: 100%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        &::before {
            content: url("./assets/img/zoom-in.svg");
            width: 30px;
            height: 30px;
        }
    }

    .c-interview__intro {
        color: $main-color;
        font-size: 1.8rem;
        letter-spacing: 0.4px;
        font-weight: 600;
        padding: 16px 35px 14px 21px;

        @include tab {
            font-size: 1.5rem;
            letter-spacing: 0.4px;
            line-height: 1.8;
            padding: 11px 8px 15px 9px;
        }
        @include sp {
            width: 56%;
            font-size: 1.4rem;
            letter-spacing: 0.3px;
            line-height: 1.6;
            padding: 0 0 0 12px;
        }
    }

    .c-interview__name {
        font-size: 2rem;
        font-weight: 400;
        color: $text-color;
        letter-spacing: 0.5px;
        line-height: 1.5;

        @include tab {
            font-size: 1.4rem;
            letter-spacing: 0.4px;
            line-height: 1.5;
        }
        @include sp {
            font-size: 1.6rem;
            letter-spacing: 0.4px;
            line-height: 1.4;
        }
    }

    .c-interview__position {
        font-size: 1.4rem;
        font-weight: 400;
        letter-spacing: 0.4px;
        color: $text-color;
        line-height: 2;

        @include tab {
            font-size: 1.2rem;
            letter-spacing: 0.3px;
            line-height: 1.8;
        }
    }

    .c-interview__p {
        color: $text-color;
        font-weight: 300;
        font-size: 1.6rem;
        letter-spacing: 0.4px;
        line-height: 1.73;
        margin-bottom: 29px;
        @include tab {
            letter-spacing: 0.38px;
            margin-right: 26px;
        }
        @include sp {
            font-size: 1.4rem;
            line-height: 1.56;
            letter-spacing: 0.3px;
            margin-right: 0;
            margin-bottom: 33px;
        }
    }

    .c-interview__signal {
        margin-top: 29px;
        color: $text-color;
        font-size: 2.2rem;
        font-weight: 500;
        letter-spacing: 0.5px;
        line-height: 1;

        @include tab {
            font-size: 1.8rem;
            letter-spacing: 0.4px;
            margin-top: 50px;
        }
        @include sp {
            text-align: right;
            font-size: 1.4rem;
            letter-spacing: 0.4px;
            line-height: 1.5;
            margin-top: 11px;
        }
    }

    .c-interview__origin {
        font-size: 3.4rem;
        font-weight: 500;
        letter-spacing: 2.5px;
        line-height: 1;
        color: $text-color;
        margin-top: 60px;
        margin-bottom: 52px;
        @include tab {
            margin-bottom: 40px;
        }
        @include sp {
            font-size: 2.4rem;
            letter-spacing: 1.3px;
            line-height: 1.3;
            margin: 14px 0 37px;
        }
    }

    .c-interview__colleft {
        color: $text-color;
        font-size: 2.4rem;
        font-weight: 500;
        letter-spacing: 0;
        line-height: 1;
        width: 38px;
        transform: translateY(-1px);

        @include tab {
            font-size: 2rem;
            letter-spacing: 0.5px;
        }        
    }

    .c-interview__colright {
        color: $text-color;
        font-size: 2.4rem;
        font-weight: 500;
        letter-spacing: 0.4px;
        line-height: 1;
        transform: translateY(1px);
        display: flex;

        @include tab {
            font-size: 2rem;
            letter-spacing: 0.5px;
            transform: translateY(5px);
        }
        @include sp {
            font-size: 1.4rem;
            letter-spacing: 0.3px;
            line-height: 1.5;
            transform: translateY(0);
        }        
    }

    .c-interview__line {        
        display: inline-block;

        &::before {
            content: "";
            display: block;
            background-color: $text-color;
            width: 62px;
            height: 1px;
            margin: 0 18px 0 15px;
            transform: translateY(11px);
            @include tab {
                width: 41px;
                margin: 0 20px 0 12px;
                transform: translateY(8px);
            }
            @include sp {
                width: 18px;
                margin: 0 14px 0 7px;
                transform: translateY(10px);
            }
        }     
    }

    .c-interview__ava {
        position: relative;
        @include sp {
            width: 42%;
        }
    }
}
