.c-company {
    margin: 100px auto 51px;
    max-width: 960px;
    width: 100%;
    @include tab {
        margin: 60px auto;
        padding: 0 20px;
    }

    .c-company__title {
        font-size: 4.4rem;
        font-weight: 500;
        letter-spacing: 3.2px;
        line-height: 1.1;
        text-align: center;
        color: $main-color;
    }

    .c-company__table {
        margin-top: 58px;
        border: 1px solid #cbcbcb;
        border-collapse: collapse;
    }

    .c-company__th {
        border: 1px solid #cbcbcb;
        border-collapse: collapse;
        background-color: #f7f7f7;
        padding: 13px 19px 11px;
        color: $td-color;
        font-size: 1.6rem;
        font-weight: 400;
        letter-spacing: 0.4px;
        line-height: 1.875;
        max-width: 287px;
        width: 29.9%;
        text-align: left;
        vertical-align: top;
        @include tab {
            font-size: 1.4rem;
            letter-spacing: 0.3px;
            line-height: 1.5;
        }
    }

    .c-company__td {
        border: 1px solid #cbcbcb;
        border-collapse: collapse;
        max-width: 673px;
        width: 70.1%;
        padding: 13px 20px 11px;
        color: $td-color;
        font-size: 1.6rem;
        font-weight: 400;
        letter-spacing: 0.4px;
        line-height: 1.875;
        vertical-align: middle;
        @include tab {
            font-size: 1.4rem;
            letter-spacing: 0.3px;
            line-height: 1.5;
        }
    }

    .c-company__tr {
        &:nth-child(9) {
            .c-company__td {
                padding: 14px 20px 17px;
            }

            .c-company__th {
                padding: 14px 19px 17px;
            }
        }

        &:nth-child(15) {
            .c-company__td {
                padding: 13px 20px 7px;
            }

            .c-company__th {
                padding: 13px 19px 7px;
            }
        }

        &:nth-child(16) {
            .c-company__td {
                padding: 13px 20px;
            }

            .c-company__th {
                padding: 13px 19px;
            }
        }

        &:nth-child(n + 17) {
            .c-company__td {
                padding: 14px 20px 10px;
            }

            .c-company__th {
                padding: 14px 19px 10px;
            }
        }
    }
}
