.c-recruit {
    .c-recruit__main {
        max-width: 960px;
        width: 100%;
        margin: 8.3% auto;
        @include tab {
            padding: 0 20px;
            margin: 7.8% auto 0;
        }
        @include sp {
            padding: 0 10px;
            margin: 34px auto 0;
        }
    }

    .c-recruit__tabs {
        margin-top: 55px;
        @include tab {
            margin-top: 30px;
        }    
        @include sp {
            margin-top: 37px;
        }
    }

    .c-recruit__tabtop {
        display: flex;
        justify-content: center;
        align-items: flex-end;
    }

    .c-recruit__tab {
        width: 100%;
        height: 100%;
        display: none;
        padding: 39px 37px 57px;
        background: #f2f5f7;
        @include tab {
            padding: 15px 21px 41px 18px;
        }
        @include sp {
            padding: 14px 7px 30px;
        }
    }

    .c-recruit__first {
        border-top: 1px solid $main-color;
        border-left: 1px solid $main-color;
        border-radius: 20px 0 0;
        color: $main-color;
        @include sp {
            border-radius: 10px 10px 0 0;
        }

        &.active {
            background-color: $main-color;
            border-radius: 10px 10px 0 0;
            top: 0;
            padding-top: 41px;
            color: $text-color;
            pointer-events: none;
            @include tab {
                padding-top: 32px;
            }
            @include sp {
                padding-top: 23px;
            }
        }
    }

    .c-recruit__second {
        border-top: 1px solid #404141;
        border-right: 1px solid #404141;
        border-radius: 0 20px 0 0;
        color: $subtext-color;
        @include sp {
            border-radius: 0 10px 0 0;
        }

        &.active {
            background-color: $subtext-color;
            border-radius: 10px 10px 0 0;
            top: 0;
            padding-top: 41px;
            color: $text-color;
            pointer-events: none;
            @include tab {
                padding-top: 32px;
            }
            @include sp {
                padding-top: 23px;
            }
        }
    }

    .c-recruit__tab {
        display: none;

        &.active {
            display: block;
        }
    }
    

    .c-recruit__tabblack {
        border: 3px solid $subtext-color;

        .c-recruit__row {
            &:first-child {
                border-bottom: 5px solid $subtext-color;
                @include sp {
                    border-bottom: 4px solid $subtext-color;
                }
            }
        }
    }

    .c-recruit__tabblue {
        border: 3px solid $main-color;

        .c-recruit__row {
            &:first-child {
                border-bottom: 5px solid $main-color;
                @include sp {
                    border-bottom: 4px solid $main-color;
                }
            }
        }
    }

    .c-recruit__row {
        display: flex;
        margin: 0 auto;
        border-bottom: 1px solid #707070;
        padding: 18px 0 9px;
        @include tab {
            padding: 20px 0;

            &:nth-child(2) {
                transform: translateY(-3px);
            }
        }
        @include sp {
            flex-direction: column;
            padding: 15px 0 20px;
        }

        &:first-child {
            padding-bottom: 11px;
            @include tab {
                padding: 17px 0 15px;
            }
            @include sp {
                padding: 0 0 15px;
            }
        }
    }

    .c-recruit__btns {
        display: flex;
        justify-content: space-between;
        margin: 56px auto 0;
        max-width: 741px;
        width: 100%;
        @include tab {
            margin: 43px auto 0;
            max-width: 620px;
        }
        @include sp {
            flex-direction: column;
            padding: 0 17px;
            margin: 39px auto 0;
        }
    }

    .c-recruit__btnimg {
        width: 30px;
        height: 30px;
        transform: translateY(-4px);
        margin-left: 3px;
        @include tab {
            width: 27px;
            height: 27px;
            margin-left: -2px;
        }
        @include sp {
            width: 22px;
            position: relative;
            left: -16px;
            margin-right: -3px;
            transform: translateY(0);
        }
    }

    .c-recruit__btn {
        font-size: 2.2rem;
        font-weight: 400;
        letter-spacing: 0.5px;
        line-height: 1;
        padding: 23px 0 13px;
        color: $text-color;
        text-align: center;
        border-radius: 9px;
        max-width: 353px;
        width: 100%;
        @include tab {
            max-width: 300px;
            font-size: 2rem;
            letter-spacing: 0.5px;
            padding: 17px 0 10px;
        }
        @include sp {
            max-width: 100%;
            margin-bottom: 20px;
            padding: 11px 0 10px;
            font-size: 1.8rem;
            letter-spacing: 0.4px;
            line-height: 1.6;
        }

        &:first-child {
            background-color: $main-color;
        }

        &:last-child {
            background-color: #005384;
        }
    }

    .c-recruit__title {
        text-align: center;
        color: $main-color;
        font-size: 4.4rem;
        font-weight: 500;
        letter-spacing: 3.2px;
        line-height: 1.1;
        transform: translateX(1px);
        @include sp {
            font-size: 2.4rem;
            letter-spacing: 1.3px;
            line-height: 1.3;
        }
    }

    .c-recruit__desc {
        margin-top: 15px;
        font-weight: 400;
        font-size: 1.6rem;
        letter-spacing: 0.4px;
        line-height: 1.8;
        color: $subtext-color;
        text-align: center;
        @include sp {
            font-size: 1.4rem;
            letter-spacing: 0.3px;
            line-height: 1.5;
            margin-top: 14px;
        }
    }

    .c-recruit__label {
        width: 50%;
        cursor: pointer;
        text-align: center;
        font-size: 2.6rem;
        font-weight: 400;
        letter-spacing: 0.6px;
        line-height: 1;
        position: relative;
        top: 0;
        padding: 32px 0 26px;
        overflow: hidden;
        @include tab {
            padding: 25px 0 5px;
        }
        @include sp {
            font-size: 1.6rem;
            letter-spacing: 0.4px;
            line-height: 1.4;
            padding: 23px 0 5px;
        }

        &.active {
            width: calc(50% + 77px);
            @include tab {
                width: calc(50% + 62px);
            }
            @include tab {
                width: calc(50% + 31px);
            }

            & >.c-recruit__spantext {
                transform: translate(0, 0);
                @include tab {
                    transform: translate(0, -10px);
                }
                @include sp {
                    transform: translate(0, -5px);
                }
            }
        }
    }

    .c-recruit__spantext {
        display: block;
        transform: translate(-17px, 5px);
        @include tab {
            transform: translate(-14px, -7px);
        }
        @include sp {
            transform: translate(1px, -5px);
        }
    }

    .c-recruit__colleft {
        width: 33%;
        padding: 0 60px;
        font-size: 2rem;
        font-weight: 600;
        letter-spacing: 0.5px;
        color: $td-color;
        @include tab {
            font-size: 1.6rem;
            letter-spacing: 0.4px;
            line-height: 1.875;
            padding: 0 22px;
            width: 30%;
        }
        @include sp {
            width: 100%;
            padding: 0 10px;
            font-size: 1.6rem;
            letter-spacing: 0.2px;
            line-height: 1.6;
            margin-bottom: 11px;
        }
    }

    .c-recruit__colright {
        width: 90%;
        font-size: 1.6rem;
        font-weight: 400;
        letter-spacing: 0.4px;
        color: $td-color;
        line-height: 1.9;
        transform: translate(1px, -3px);
        @include tab {
            font-size: 1.4rem;
            letter-spacing: 0.4px;
            line-height: 2;
            transform: translate(-1px, 1px);
        }
        @include sp {
            width: 100%;
            padding: 0 10px;
            font-size: 1.4rem;
            letter-spacing: 0.1px;
            line-height: 1.5;
        }
    }
}
