.c-lightbox {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 111;
    padding: 30px 10px;
    display: none;

    &.is-open {
        display: block;
        transition: all 0.5s ease-in-out;
    }

    .c-lightbox__overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 99;
        background: rgba(255, 255, 255, 0.84);
    }

    .c-lightbox__inner {
        max-width: 960px;
        width: 100%;
        margin: 0 auto;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 10;
        max-height: 100vh;
        overflow-y: auto;
        @include sp {
            width: 90%;
        }
    }

    .c-lightbox__main {
        background: #fff;
        border: 4px #0080cc solid;
        text-align: center;
        padding: 40px;
        @include sp {
            padding: 36px 20px 18px;
            border: 2px #0080cc solid;
        }
    }

    .c-lightbox__img {
        max-width: 840px;
        max-height: 600px;
        width: 100%;
        height: auto;
        @include sp {
            margin: 0 auto 18px;
        }
    }

    .c-lightbox__close {
        background-color: $main-color;
        color: $text-color;
        margin: 40px auto 0;
        max-width: 117px;
        width: 100%;
        border-radius: 9px;
        font-size: 1.6rem;
        font-weight: 500;
        letter-spacing: 2px;
        line-height: 1.2;
        padding: 11px 0 9px 18px;
        position: relative;
        @include sp {
            margin: 0 auto;
        }

        &::before {
            content: "";
            background: #fff;
            width: 10px;
            height: 2px;
            transform: translateY(-2px) rotate(45deg);
            position: absolute;
            left: 25px;
            top: calc(50% + 2px);
            display: inline-block;
        }

        &::after {
            content: "";
            background: #fff;
            width: 10px;
            height: 2px;
            transform: translateY(-2px) rotate(-45deg);
            position: absolute;
            left: 25px;
            top: calc(50% + 3px);
            display: inline-block;
        }
    }
}
