/*------------------------------------------------------------
other
------------------------------------------------------------*/

/*
------------------------------------------------------------*/
@keyframes zoomin {
    0% {
        opacity: 0.7;
        background-size: 120%;
    }

    50% {
        opacity: 1;
        background-size: 150%;
    }

    100% {
        opacity: 1;
        background-size: 200%;
    }
}
@keyframes tobottom {
    0% {
        opacity: 0.7;
        background-position: center bottom;
    }

    50% {
        opacity: 1;
        background-position: center center;
    }

    100% {
        opacity: 1;
        background-position: center top;
    }
}

@keyframes toright {
    0% {
        opacity: 0.7;
        background-position: right center;
    }

    50% {
        opacity: 1;
        background-position: center center;
    }

    100% {
        opacity: 1;
        background-position: left center;
    }
}
