/*------------------------------------------------------------
footer
------------------------------------------------------------*/
.c-footer {
    position: relative;
    background: rgba(255, 255, 255, 0.9);
    margin: 0 auto;
    border-top: 1px solid $main-color;

    .c-footer__main {
        display: flex;
        flex-direction: column;
        max-width: 1200px;
        width: 100%;
        margin: 0 auto;
        @include tab {
            padding: 0 20px;
        }
        @include sp{
            padding: 0 10px;
        }
    }

    .c-footer__top {
        padding: 26px 20px 20px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        border-bottom: 1px solid #efefef;
        @include tab {
            padding: 31px 0 35px;
            position: relative;
        }
        @include sp{
            padding: 9px 0;
        }
    }

    .c-footer__logo {
        position: relative;
        max-width: 164px;
        @include sp{
            max-width: 100px;
            border-radius: 20px;
        }
    }

    .c-footer__list {
        width: 55%;
        position: relative;
        left: 3.9%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        @include tab {
            width: 94%;
            top: 27px;
            left: 3.4%;
        }
        @include sp {
            display: none;
        }
    }

    .c-footer__link {
        font-size: 1.6rem;
        font-weight: 400;
        color: $main-color;
        letter-spacing: 0.3px;
        line-height: 2.5;

        &:hover {
            &::after {
                content: "";
                background-color: $main-color;
                height: 2px;
                margin-top: 10px;
                transition-duration: 0.3s;
                display: block;
            }
        }
    }

    .c-footer__btnrecruit {
        border-radius: 9px;
        background-color: $main-color;
        width: 185px;
        height: 50px;
        padding: 10px 0;
        text-align: center;
        margin-top: -6px;
        @include tab {
            position: absolute;
            top: 31px;
            right: 2px;
        }
        @include sp{
            display: none;
        }
    }

    .c-footer__imgrecruit {
        transform: translate(-5px, 4px);
    }

    .c-footer__txtrecruit {
        color: $text-color;
        letter-spacing: 2px;
        font-size: 1.8rem;
        line-height: 1.7;
    }

    .c-footer__intro {
        color: #a0a0a0;
        font-weight: 400;
        font-size: 1.4rem;
        text-decoration: underline;
        letter-spacing: 0.3px;
        text-align: right;
        padding-right: 59px;
        margin: 10px 0 15px;
        @include tab {
            padding-right: 0;
            margin: 11px 0 13px;
        }
        @include sp{
            margin: 17px 0 18px;
            font-size: 1.2rem;
            letter-spacing: 0.2px;
        }
    }

    .c-footer__copyright {
        background-color: $main-color;
        color: $text-color;
        font-size: 1.4rem;
        letter-spacing: 0.3px;
        font-weight: 400;
        line-height: 1;
        text-align: center;
        padding: 16px 0;
        @include tab {
            font-size: 1.2rem;
            padding: 9px 0 6px;
        }
        @include sp{
            font-size: 1rem;
            letter-spacing: 0.1px;
            padding: 11px 0;
        }
    }
    .c-footer__slogan{
        font-size: 0.8rem;
        letter-spacing: 0;
        line-height: 1;
        position: relative;
        top:-1px;
        left: 25px;
    }
}
