/* Header
------------------------------------------------------------*/
.c-header {
    padding: 15px 21px 12px;
    position: relative;
    background: rgba(255, 255, 255, 0.9);
    width: 100%;
    margin: 0 auto;

    .c-header__gnav {
        max-width: 1160px;
        width: 100%;
        margin: 0 auto;
    }

    .c-header__logo {
        position: relative;
        max-width: 164px;
    }

    .c-header__slogan {
        color: $subtext-color;
        display: block;
        position: absolute;
        font-size: 1.2rem;
        top: 33px;
        left: 49px;
        letter-spacing: 0;
    }

    .c-header__list {
        width: 58%;
        position: relative;
        left: 2.1%;
        
    }

    .c-header__link {
        font-size: 1.6rem;
        font-weight: 400;
        color: $main-color;
        letter-spacing: 0.3px;
        line-height: 3.5;

        &:hover {
            &::after {
                content: "";
                background-color: $main-color;
                height: 2px;
                margin-top: 10px;
                transition-duration: 0.3s;
                display: block;
            }    
        }    
    }

    .c-header__btnrecruit {
        border-radius: 9px;
        background-color: $main-color;
        width: 185px;
        height: 50px;
        padding: 10px 0;
        text-align: center;
        margin-top: 2px;
    }

    .c-header__imgrecruit {
        transform: translate(-5px, 4px);
    }

    .c-header__txtrecruit {
        color: $text-color;
        letter-spacing: 2px;
        font-size: 1.8rem;
        line-height: 1.7;
    }
                
}

/* Main menu
------------------------------------------------------------*/
.is-active {
    &::after {
        content: "";
        background-color: $main-color;
        height: 2px;
        margin-top: 10px;
        transition: 0.3s;
        display: block;
    } 
}
