/* Header
------------------------------------------------------------*/
.c-header {
    padding: 15px 21px 12px;
    position: relative;
    background: rgba(255, 255, 255, 0.9);
    width: 100%;
    margin: 0 auto;

    @include tab {
        padding: 20px 20px 0;
    }

    @include sp {
        padding: 14px 10px;
        position: fixed;
        z-index: 99;
    }

    .c-header__gnav {
        max-width: 1160px;
        width: 100%;
        margin: 0 auto;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .c-header__logo {
        position: relative;
        max-width: 164px;

        @include sp {
            max-width: 123px;
        }
    }

    .c-header__slogan {
        color: $subtext-color;
        display: block;
        position: absolute;
        font-size: 1.2rem;
        top: 33px;
        left: 49px;
        letter-spacing: 0;

        @include sp {
            font-size: 1rem;
            left: 31px;
            top: 26px;
        }
    }

    .c-header__list {
        width: 58%;
        position: relative;
        left: 2.1%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;

        @include tab {
            width: 95%;
            left: 2.7%;
            margin-top: 25px;
        }

        @include sp {
            display: none;
        }
    }

    .c-header__link {
        font-size: 1.6rem;
        font-weight: 400;
        color: $main-color;
        letter-spacing: 0.3px;
        line-height: 3.5;

        @include tab {
            line-height: 2.5;
        }

        &:hover {
            &::after {
                content: "";
                background-color: $main-color;
                height: 2px;
                margin-top: 10px;
                transition-duration: 0.3s;
                display: block;
            }
        }
    }

    .c-header__right {
        @include tab {
            position: absolute;
            right: 2.6%;
            margin-top: 0;
        }
        @include sp {
            display: flex;
        }
    }

    .c-header__btnrecruit {
        border-radius: 9px;
        background-color: $main-color;
        width: 185px;
        height: 50px;
        padding: 10px 0;
        text-align: center;
        margin-top: 2px;
        @include tab {
            width: 157px;
            height: 40px;
            padding: 5px 0;
            margin-top:0;
        }

        @include sp {
            position: relative;
            border-radius: 10px;
            padding: 8px 0;
            line-height: 1;
            width: 122px;
            height: 38px;
            top: -2px;
            right: 3px;
        }
    }

    .c-header__imgrecruit {
        transform: translate(-5px, 4px);

        @include tab {
            transform: translate(-8px, 6px);
        }

        @include sp {
            transform: translate(-2px, 1px);
        }
    }

    .c-header__txtrecruit {
        color: $text-color;
        letter-spacing: 2px;
        font-size: 1.8rem;
        font-weight: 500;
        line-height: 1.7;

        @include tab {
            font-size: 1.6rem;
            letter-spacing: 1px;
        }

        @include sp {
            font-size: 1.4rem;
            letter-spacing: 1.7px;
            line-height: 1.6;
            display: inline-block;
            transform: translateX(2px);
        }
    }

    .c-header__iconmenu {
        display: none;

        @include sp {
            position: relative;
            right: 3px;
            width: 30px;
            height: 20px;
            top: 9px;
            margin-left: 20px;
            display: block;

            &.is-open {
                .c-header__line {
                    &:first-child {
                        transform: translate(2px, 9px) rotate(-45deg);
                    }

                    &:nth-child(2) {
                        opacity: 0;
                    }

                    &:last-child {
                        transform: translate(2px, -8px) rotate(-135deg);
                    }
                }
            }
        }
    }

    .c-header__line {
        position: absolute;
        left: 0;
        right: 0;
        height: 3px;
        background-color: #0080cc;

        &:first-child {
            top: 0;            
        }

        &:nth-child(2) {
            top: 50%;
            transform: translateY(-50%);
        }

        &:last-child {
            bottom: 0;
        }
    }

    .c-header__overlay {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .c-header__gnavmb {
        position: absolute;
        top: 97%;
        left: 0;
        width: 100%;
        height: calc(100vh - 60px);
        background-color: rgba(255, 255, 255, 0.95);
        padding: 35px 0;
        display: none;
        z-index: 999;
        overflow-y: auto;

        &.is-open {
            display: block;
            overflow: hidden;
        }
    }

    .c-header__navmb {
        width: 100%;
        padding: 22px 20px 18px 53px;
        position: relative;

        &::before {
            content: url("./assets/img/iconmenu.svg");
            position: absolute;
            height: 24px;
            width: 24px;
            top: 24px;
            left: 18px;
            background-size: 100%;
        }
    }

    .c-header__linkmb {
        transition: 0.5s all ease-out;
        font-size: 2rem;
        letter-spacing: 1px;
        line-height: 1.5;
        font-weight: 500;
        color: $main-color;
    }

    .c-header__btninner {
        width: 100%;
        max-width: calc(100% - 43px);
        margin: 35px auto;
        height: 60px;
        padding: 16px 0;
        right: 2px;
    }

    .c-header__imgrecruitinner {
        left: 26px;
        top: 15px;
        width: 28px;
        height: 28px;
        position: absolute;
    }

    .c-header__txtrecruitinner {
        font-size: 2.4rem;
        font-weight: 500;
        letter-spacing: 1.3px;
        line-height: 1;
        color: $text-color;
        display: inline-block;
        transform: translate(9px, 1px);
    }

}

/* Main menu
------------------------------------------------------------*/
.is-active {
    &::after {
        content: "";
        background-color: $main-color;
        height: 2px;
        margin-top: 10px;
        transition: 0.3s;
        display: block;
    }
}
