/* Header
------------------------------------------------------------*/
.c-header {
    padding: 15px 21px 12px;
    position: relative;
    background: rgba(255, 255, 255, 0.9);
    

    .c-header__logo {
        position: relative;
        max-width: 164px;
    }

    .c-header__slogan {
        color: $subtext-color;
        display: block;
        position: absolute;
        font-size: 1.2rem;
        top: 33px;
        left: 49px;
        letter-spacing: 0;
    }

    .c-header__gnav {
        width: 58%;
        overflow: hidden;
        position: relative;
        padding-top: 19px; 
        
    }

    .c-header__link {
        font-size: 1.6rem;
        font-weight: 400;
        color: $main-color;
        letter-spacing: 0.3px;
        line-height: 1;

        &:hover {
            text-decoration: solid underline $main-color 2px;
            text-underline-offset: 10px;
        }
    }

    .c-header__btnrecruit{

    }
                
}

/* Main menu
------------------------------------------------------------*/
.is-active {
    text-decoration: solid underline $main-color 2px;
    text-underline-offset: 10px;
}
