/* layout
------------------------------------------------------------*/
body {
    font-family: $main-fonts;
    font-size: 1.4rem;
    min-width: 375px;
    width: 100%;
    margin: 0 auto;
    line-height: 1.5;
    scroll-behavior: smooth;

    &.is-fixed {
        overflow: hidden;
        touch-action: none;
        height: 100vh;
    }
}

//-------------------------------------------------------
.l-container {
    margin: 0 auto;
}
//-------------------------------------------------------\
.c-flexwrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
