/* layout
------------------------------------------------------------*/
body {
    font-family: $main-fonts;
    font-size: 1.4rem;
    min-width: 375px;
    width: 100%;
    margin: 0 auto;
    line-height: 1.5;
    scroll-behavior: smooth;
}

//-------------------------------------------------------
.l-container {
    margin: 0 auto;
}
//-------------------------------------------------------\
.c-flex {
    display: flex;
    justify-content: space-between;
}

.c-flexwrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
@keyframes zoomin {
    0% {
        transform: scale(1);
    }

    10% {
        opacity: 1;
    }

    100% {
        opacity: 1;
        transform: scale(1.3);
    }
}
@keyframes tobottom {
    0% {
        transform: scale(1.3) translateY(0);
    }

    10% {
        opacity: 1;
        transform: scale(1.3) translateY(3%);
    }

    25% {
        opacity: 1;
        transform: scale(1.3) translateY(5%);
    }

    50% {
        opacity: 1;
        transform: scale(1.3) translateY(10%);
    }

    75% {
        opacity: 1;
        transform: scale(1.3) translateY(15%);
    }

    100% {
        transform: scale(1.3) translateY(100%);
        transform: scale(1.3) translateY(100%);
        transition: transform 6s ease-out;
    }
}
@keyframes toright {
    0% {
        opacity: 1;
        transform: scale(1.3) translatex(0);
        transform: scale(1.3) translatex(0);
    }

    10% {
        opacity: 1;
        transform: scale(1.3) translatex(3%);
        transform: scale(1.3) translatex(3%);
    }

    25% {
        opacity: 1;
        transform: scale(1.3) translatex(5%);
        transform: scale(1.3) translatex(5%);
    }

    50% {
        opacity: 1;
        transform: scale(1.3) translatex(10%);
        transform: scale(1.3) translatex(10%);
    }

    75% {
        opacity: 1;
        transform: scale(1.3) translatex(15%);
        transform: scale(1.3) translatex(15%);
    }

    100% {
        transform: scale(1.3) translatex(100%);
        transform: scale(1.3) translatex(100%);
        transition: transform 6s ease-out;
    }
}

