/* layout
------------------------------------------------------------*/
body {
    font-family: $main-fonts;
    font-size: 1.4rem;
    min-width: 320px;
    width: 100%;
    margin: 0 auto;
    line-height: 1.5;
    scroll-behavior: smooth;

    &.is-fixed {
        overflow: hidden;
        touch-action: none;
        height: 100vh;
    }
}

//-------------------------------------------------------
.l-container {
    margin: 0 auto;
}

//-------------------------------------------------------\
.c-sp {
    display: none;

    @include sp {
        display: block;
    }
}

.c-pc {
    @include sp {
        display: none;
    }
}

.c-tab {
    display: none;

    @include tab {
        display: contents;
    }
}
