<%- include('_layouts/layout', { title: 'ENTEX' }); -%>

  <!-- @meta -->
  <meta name="description" content="ENTEX Page">
  <!-- @@meta -->

  <!-- @content -->
  <main class="p-top">
    <section class="c-mainvisual">
      <div class="c-mainnvisual__imgs">
        <picture class="c-mainvisual__img c-mainvisual__zoomin">          
          <source media="(max-width: 767px)" srcset="../assets/img/entex_mainvisual1sp.jpg">
          <source media="(max-width: 1023px)" srcset="../assets/img/entex_mainvisual1tablet.jpg">
          <img class="c-mainvisual__imgitem" src="../assets/img/entex_mainvisual1.jpg" alt="若い力を発揮できる環境がココにはある。">
        </picture>
        <picture class="c-mainvisual__img c-mainvisual__tobottom">
          <source media="(max-width: 767px)" srcset="../assets/img/entex_mainvisual1sp.jpg">
          <img class="c-mainvisual__imgitem" src="../assets/img/entex_mainvisual2.jpg" alt="若い力を発揮できる環境がココにはある。">
        </picture>
        <picture class="c-mainvisual__img c-mainvisual__toright">
          <source media="(max-width: 767px)" srcset="../assets/img/entex_mainvisual1sp.jpg">
          <img class="c-mainvisual__imgitem" src="../assets/img/entex_mainvisual3.jpg" alt="若い力を発揮できる環境がココにはある。">
        </picture>
      </div>
      <div class="c-mainvisual__inner">
        <h1 class="c-mainvisual__pagetitle">
          <span class="c-mainvisual__sub">若い力を</span>
          <span class="c-mainvisual__sub">発揮できる環境が</span>
          <span class="c-mainvisual__sub">ココにはある。</span>
        </h1>
      </div>
      <div class="c-mainvisual__btn">
        <a class="c-mainvisual__btnscroll" href="#about">scroll</a>
      </div>
      <h2 class="c-mainvisual__slogan">
        <span class="c-mainvisual__suborange">暮らしの未来</span><span class="c-mainvisual__subblue">を一緒に作る仲間を募集しています。</span>
      </h2>
    </section>
    <!-- start about -->
    <section class="c-about" id="about">
      <div class="c-about__main">
        <div class="c-about__left">
          <h2 class="c-about__title">私たちについて</h2>
          <p class="c-about__p">多能工と呼ばれるプロの職人集団が、外構工事（家の外回りの工事）を中心に事業を展開する会社です。<br>多能工とは、様々な建設作業が出来る職人の事を意味します。</p>
          <p class="c-about__p">当社の職人は、重機作業、鉄筋作業、型枠作業、左官作業、電気工事、金物取付作業、土木作業植栽作業、設備作業の全てを1人で行ないます。</p>
          <p class="c-about__p">
            <span>体力仕事も少なからず存在しますが、ベトナム人研修生や最新の道具が手助けしますので、昔よりも作業内容は簡略化されています。</span>
            <br>
            <span class="c-about__span">当社では今後も最新設備を取り入れ、作業負担の軽減化を進めていく予定です。</span>
          </p>
          <p class="c-about__p">また、最新道具が発展した現在でも多能工職人になることは難しいのですが、 当社は関西の中でもとくに職人の在籍率が高い会社でもあります。</p>
          <p class="c-about__p">今では解体工事、リフォーム工事、新築工事なども施工する会社となり、より深く様々な作業を身に付ける事ができる未来発展型の会社です。</p>
        </div>
        <div class="c-about__right">
          <div class="c-about__wrapimg">
            <picture class="c-about__img c-about__imgtop">
              <source media="(max-width: 767px)" srcset="../assets/img/about1sp.jpg">
              <source media="(max-width: 1023px)" srcset="../assets/img/about1tablet.jpg">
              <img src="../assets/img/about1.jpg" alt="私たちについて top">
            </picture>
          </div>
          <div class="c-about__wrapimg">
            <picture class="c-about__img c-about__imgbottom">
              <source media="(max-width: 767px)" srcset="../assets/img/about2sp.jpg">
              <source media="(max-width: 1023px)" srcset="../assets/img/about2tablet.jpg">
              <img src="../assets/img/about2.jpg" alt="私たちについて bottom">
            </picture>
          </div>
        </div>
      </div>
    </section>
    <!-- end about -->
    <!-- start works -->
    <section class="c-works" id="works">
      <div class="c-works__top">
        <h2 class="c-works__title">私たちの仕事</h2>
        <p class="c-works__desc">
          <span>エクステリアのプロ集団と言っても、仕事内容はさまざまです。</span>
          <br>
          <span>仕事をしていく上で、「あなたの興味のあること」「向いていること」が見つけられるかもしれません。</span>
        </p>
      </div>
      <div class="c-works__main">
        <div class="c-works__left">
          <picture>
            <source media="(max-width:767px)" srcset="./assets/img/works1sp.jpg">
            <source media="(max-width:1023px)" srcset="./assets/img/works1tablet.jpg">
            <img class="c-works__img" src="./assets/img/works1.jpg" alt="重機の運転、土木作業の手元">
          </picture>
          <picture>
            <source media="(max-width:767px)" srcset="./assets/img/works2sp.jpg">
            <source media="(max-width:1023px)" srcset="./assets/img/works2tablet.jpg">
            <img class="c-works__img" src="./assets/img/works2.jpg" alt="ブロック積み、フェンス、カーポート、門扉、照明、ポスト、表札と言われる金物商品の取付工事">
          </picture>
          <picture>
            <source media="(max-width:767px)" srcset="./assets/img/works3sp.jpg">
            <source media="(max-width:1023px)" srcset="./assets/img/works3tablet.jpg">
            <img class="c-works__img" src="./assets/img/works3.jpg" alt="左官作業と言われるコンクリートを扱う工事作業">
          </picture>
          <picture>
            <source media="(max-width:767px)" srcset="./assets/img/works4sp.jpg">
            <source media="(max-width:1023px)" srcset="./assets/img/works4tablet.jpg">
            <img class="c-works__img" src="./assets/img/works4.jpg" alt="電気工事（照明、インターホンの取付）">
          </picture>
        </div>
        <div class="c-works__right">
          <div class="c-works__righttop">
            <h3 class="c-works__subtitle">仕事内容の紹介</h3>
            <p class="c-works__descsubtitle">屋外での現場作業をメインに行ないます。</p>
          </div>
          <div class="c-works__rightmain">
            <% if (typeof works !='undefined' ) { %>
              <% works.main && works.main.forEach(work=> { %>
                <div class="c-works__item">
                  <span class="c-works__feature">
                    <%= work.feature %>
                  </span>
                </div>
                <% }) %>
                  <% } %>
          </div>
        </div>
      </div>
      <div class="c-works__media">
        <div class="c-works__mediatop">
          <h2 class="c-works__mediatitle">Photos & Movie</h2>
          <p class="c-works__mediadesc">私たちの仕事内容の一部を動画と写真でお伝えします。</p>
        </div>
        <div class="c-works__mediamain">
          <div class="c-works__col">
            <video controls autoplay muted>
              <source src="./assets/video/entex_video01.mp4" type="video/mp4">
              <p>動画を再生するにはvideoタグをサポートしたブラウザが必要です。</p>
            </video>
          </div>
          <div class="c-works__col">
            <% if (typeof media !='undefined' ) { %>
              <% media.main && media.main.forEach(photo=> { %>
                <div class="c-works__photo">
                  <img class="c-works__photoitem" src="<%= photo.url %>" alt="<%= photo.alt%>">
                  <p class="c-works__pickup">pick up</p>
                </div>
                <% }) %>
                  <% } %>
          </div>
        </div>
      </div>
    </section>
    <!-- end works -->
    <!-- start career -->
    <section class="c-career" id="career">
      <div class="c-career__top">
        <h2 class="c-career__title">もうすぐ創業50年、<br>
          <span class="c-career__titleedit">あなたのキャリアプランもしっかり考えています。</span></h2>
        <p class="c-career__desc">
          世間では、終身雇用が保証されにくい世の中になってきました。<br>
          その中で、「長く勤めることができる会社」「手に職をつけられる業種」は、<span class="c-tab"><br></span>キャリア形成にも影響します。<br>
          人が生きている以上、家や建物を建てることは無くなりません。<br>
          また、古くなった建物を部分的に改修することは増えていきます。<br>
          その時にあなたがエクステリア業界のプロになっていれば、たくさんの生きる道を作ることができます。<br>
          株式会社ENTEXでは、会社の成長だけでなく、あなたの成長も応援します。<br>
        </p>
      </div>
      <div class="c-career__banner">
        <picture>
          <source media="(max-width: 767px)" srcset="./assets/img/careersp.jpg">
          <source media="(max-width: 1023px)" srcset="./assets/img/careertablet.jpg">
          <img class="c-career__bannerimg" src="./assets/img/career.jpg" alt="人材育成に最大限の力を注ぎます！">
        </picture>
        <div class="c-career__inner">
          <h3 class="c-career__subtitle">人材育成に最大限の力を注ぎます！</h3>
          <p class="c-career__subdesc">
            【入社後の研修制度について】<br>
            入社後は、専属の先輩社員と共に現場で簡易な作業から仕事を開始してもらいます。<br>
            職長と呼ばれる、現場を管理する人に付いて道具、材料の名前や作業内容を把握しながら、勉強してもらいます。最初は一人の職長と同じ現場で作業を行ないますが、慣れてきたら、色々な現場で沢山の職長と触れ合いながら学ぶ事が出来ます。<br>
            雨天の日は、屋内で金物や、ブロックの施工練習、図面の勉強も実施します。<br>
          </p>
        </div>
      </div>
      <div class="c-career__roadmap">
        <h2 class="c-career__roadmaptitle">入社後のキャリアプラン</h2>
        <div class="c-career__roadmapmain">
          <% if (typeof roadmap !='undefined' ) { %>
            <% roadmap.main && roadmap.main.forEach(miles=> { %>
              <div class="c-career__roadmapitem">
                <h3 class="c-career__milestones">
                  <%= miles.milestones %>
                </h3>
                <div class="c-career__roadmapinfo">
                  <%- miles.desc %>
                </div>
              </div>
              <% }) %>
                <% } %>
                  <div class="c-career__roadmapquote">
                    <span class="c-career__roadmapqnote">あなたは、どんな未来に向けて<br>
                      どんなキャリアで仕事をしたいですか？</span>
                  </div>
        </div>
      </div>
      <div class="c-career__about">
        <div class="c-career__aboutleft">
          <picture class="c-career__img">
            <source media="(max-width: 767px)" srcset="./assets/img/career1sp.jpg">
            <source media="(max-width: 1023px)" srcset="./assets/img/career1tablet.jpg">
            <img src="./assets/img/career1.jpg" alt="私たちについて top">
          </picture>
          <picture class="c-career__img">
            <source media="(max-width: 767px)" srcset="./assets/img/career2sp.jpg">
            <source media="(max-width: 1023px)" srcset="./assets/img/career2tablet.jpg">
            <img src="./assets/img/career2.jpg" alt="私たちについて top">
          </picture>
          <picture class="c-career__img">
            <source media="(max-width: 767px)" srcset="./assets/img/career3sp.jpg">
            <source media="(max-width: 1023px)" srcset="./assets/img/career3tablet.jpg">
            <img src="./assets/img/career3.jpg" alt="私たちについて top">
          </picture>
          <picture class="c-career__img">
            <source media="(max-width: 767px)" srcset="./assets/img/career4sp.jpg">
            <source media="(max-width: 1023px)" srcset="./assets/img/career4tablet.jpg">
            <img src="./assets/img/career4.jpg" alt="私たちについて top">
          </picture>
        </div>
        <div class="c-career__aboutright">
          <h3 class="c-career__welfare">充実した福利厚生サービス</h3>
          <ul class="c-career__welfarelist">
            <li class="c-career__welfareitem">遠方から弊社に入社される人は、ENTEX本社の上に社宅(社員寮)があります。
              <span class="c-career__welfarenote">
                <span class="c-career__welfareicon">※</span>現在は満室のため、近くのワンルームから（自転車通勤圏内）通勤していただきます。
              </span>
            </li>
            <li class="c-career__welfareitem">年1回社員旅行を開催<span class="c-career__welfareitemsub">(参加希望者のみ)</span>
              <span class="c-career__welfarenote"><span
                  class="c-career__welfareicon">※</span>社員旅行積立金3,000円（会社が旅費の半分以上を負担）</span>
            </li>
            <li class="c-career__welfareitem">社会保険完備
              <span class="c-career__welfareitemsub"> (雇用保険<span class="u-comma">、</span>労災保険<span
                  class="u-comma">、</span>健康保険<span class="u-comma">、</span>厚生年金）</span>
            </li>
            <li class="c-career__welfareitem">希望者参加型の食事会<span class="c-career__welfareitemsub">(費用は会社負担)</span></li>
            <li class="c-career__welfareitem">各種手当も充実
              <ul class="c-career__welfaresubitem">
                <li class="c-career__welfaresubitemtext">皆勤手当：5,000円</li>
                <li class="c-career__welfaresubitemtext">雨天手当：1,000円</li>
                <li class="c-career__welfaresubitemtext">固定休日手当：5日分（賃金単価による）</li>
                <li class="c-career__welfaresubitemtext">資格手当</li>
                <li class="c-career__welfaresubitemtext">残業、休日手当</li>
                <li class="c-career__welfaresubitemtext">技能手当</li>
                <li class="c-career__welfaresubitemtext">通勤手当：月3万円まで</li>
              </ul>
            </li>
            <li class="c-career__welfareitem">昇給あり</li>
            <li class="c-career__welfareitem">賞与あり（夏・冬 年2回）</li>
          </ul>
          <div class="c-career__support">
            <h3 class="c-career__supporttitle">独立支援制度も充実!<span class="c-tab"><br></span>20代でも独立可能</h3>
            <ul class="c-career__supportinfo">独立支援制度
              <li class="c-career__supportfirst">資格取得費用の援助
                <ul>
                  <li class="c-career__supportitem">座学（法律、行政への対応）の勉強支援</li>
                  <li class="c-career__supportitem">仕入先の紹介</li>
                  <li class="c-career__supportitem">顧問税理士、行政書士、弁護士の紹介</li>
                </ul>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </section>
    <!-- end career -->
    <!-- start interview -->
    <section class="c-interview" id="interview">
      <div class="c-interview__top">
        <h2 class="c-interview__title">先輩社員からのメッセージ</h2>
        <p class="c-interview__desc">
          未経験で入社した多くのメンバーが活躍しています。<br>
          各部門で活躍する現役メンバーたちの「リアルな声」をお届けします。
        </p>
      </div>
      <div class="c-interview__list">
        <% if (typeof interview !='undefined' ) { %>
          <% interview.main && interview.main.forEach (person=>{ %>
            <div class="c-interview__item" data-open="<%= person.id %>">
              <div class="c-interview__itemtop">
                <div class="c-interview__ava">
                  <picture>
                    <source media="(max-width:767px" srcset="<%= person.avasp %>">
                    <source media="(max-width:1023px" srcset="<%= person.avatablet %>">
                    <img class="c-interview__avatar" src="<%= person.ava %>" alt="<%= person.name %>">
                  </picture>
                  <p class="c-interview__interview">interview</p>
                </div>
                <p class="c-interview__intro">
                  <%= person.intro %>
                </p>
              </div>
              <div class="c-interview__info">
                <div class="c-interview__text">
                  <p class="c-interview__name">
                    <%= person.name %>
                  </p>
                  <p class="c-interview__position">
                    <%= person.position %>
                  </p>
                </div>
              </div>
            </div>
            <% })} %>
      </div>
      <div class="c-interview__message">
        <div class="c-interview__messwrap">
          <h2 class="c-interview__messtitle">代表メッセージ</h2>
          <div class="c-interview__messmain">
            <div class="c-interview__messtext">
              <h3 class="c-interview__quote">「学歴・経験不問。ポテンシャル重視で採用」</h3>
              <p class="c-interview__p">
                弊社は、｢お客様に喜ばれる仕事をしよう｣という会社理念を掲げて社会貢献事業を行なっています<span class="c-interview__dot">。</span>何か仕事で困った事があってもお客様の立場や、気持ちを考えれば社員一同、同じ方向を向いて仕事が出来ます。
              </p>
              <p class="c-interview__p">
                また、個人の目標も大切にしており弊社の全てのメンバーが夢、希望をもって仕事に取り組み楽しい職場作りを目指しております。<br>
                メンバー同士<span class="c-interview__dot">、</span>助け合いの精神をもって規律正しく和気あいあいと作業を行なっています。
              </p>
              <p class="c-interview__p">
                昔のように職人は誰でもなれる職業ではありません。身体も頭脳も健全でなければ一流の職人にはなれませんが、ENTEXでは多くのまだ若いプロの職人が親切、丁寧に教育しますので安心です。
              </p>
            </div>
            <div class="c-interview__messimg">
              <picture>
                <source media="(max-width:767px)" srcset="./assets/img/ceo-sp.jpg">
                <source media="(max-width:1023px)" srcset="./assets/img/ceo-tablet.jpg">
                <img src="./assets/img/ceo.jpg" alt="代表メッセージ">
              </picture>
            </div>
          </div>
          <h3 class="c-interview__mess">自分の作品として最低でも50年は施工場所が残る仕事です。<br>
            大切な家族や友人に、自分が施工した自慢の作品がすぐに理解できて貰える喜びが、とても嬉しくて遣り甲斐のある仕事です。<br>
          </h3>
          <p class="c-interview__signal">
            <span class="c-interview__unit">株式会社ENTEX</span>
            <span class="c-interview__unit">代表取締役社長</span>
            <span class="c-interview__unit">遠藤 剛</span>
          </p>
          <p class="c-interview__origin">社名の由来</p>
          <div class="c-interview__bottom">
            <div class="c-interview__logo">
              <picture>
                <source media="(max-width:767px)" srcset="./assets/img/logo-sp.jpg">
                <source media="(max-width:1023px)" srcset="./assets/img/logo-tablet.jpg">
                <img src="./assets/img/logo.jpg" alt="社名の由来">
              </picture>
            </div>
            <div class="c-interview__explan">
              <dl class="c-interview__row">
                <dt class="c-interview__colleft">EN</dt>
                <dd class="c-interview__colright">当社代表「遠藤(Endo)」の頭文字</dd>
              </dl>
              <dl class="c-interview__row">
                <dt class="c-interview__colleft">TE</dt>
                <dd class="c-interview__colright">テクノロジー(技術)</dd>
              </dl>
              <dl class="c-interview__row">
                <dt class="c-interview__colleft">X</dt>
                <dd class="c-interview__colright">無限に成長すると言う意味のX</dd>
              </dl>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- end interview -->
    <!-- start recruit -->
    <section class="c-recruit" id="recruit">
      <div class="c-recruit__main">
        <div class="c-recruit__top">
          <h2 class="c-recruit__title">採用情報</h2>
          <p class="c-recruit__desc">
            株式会社エンテックスでは、下記の人材を募集しています。<br>
            詳しくは募集要項をご確認ください。
          </p>
        </div>
        <div class="c-recruit__tabs">
          <div class="c-recruit__tabtop">
            <input class="c-recruit__input" type="radio" hidden name="tabs" id="recruit_1" checked>
            <label class="c-recruit__label c-recruit__first" for="recruit_1"><span
                class="c-recruit__spantext">新卒採用</span></label>
            <input class="c-recruit__input" type="radio" hidden name="tabs" id="recruit_2">
            <label class="c-recruit__label c-recruit__second" for="recruit_2"><span
                class="c-recruit__spantext">中途採用</span></label>
          </div>
          <div class="c-recruit__tab c-recruit__tabblue">
            <% if (typeof recruit !='undefined' ) { %>
              <% recruit.tab1 && recruit.tab1.forEach(tab=> { %>
                <div class="c-recruit__row">
                  <div class="c-recruit__colleft">
                    <%= tab.th %>
                  </div>
                  <div class="c-recruit__colright">
                    <%- tab.td %>
                  </div>
                </div>
                <% }) %>
                  <% } %>
                    <div class="c-recruit__btns">
                      <a class="c-recruit__btn" href="#">
                        <img class="c-recruit__btnimg" src="./assets/img/assignment.svg" alt="高校生の方はこちら">
                        <span class="c-recruit__btntxt">高校生の方はこちら</span>
                      </a>
                      <a class="c-recruit__btn" href="#">
                        <img class="c-recruit__btnimg" src="./assets/img/assignment.svg" alt="高校生以外の方はこちら">
                        <span class="c-recruit__btntxt">高校生以外の方はこちら</span>
                      </a>
                    </div>
          </div>
          <div class="c-recruit__tab c-recruit__tabblack">
            <% if (typeof recruit !='undefined' ) { %>
              <% recruit.tab2 && recruit.tab2.forEach(tab=> { %>
                <div class="c-recruit__row">
                  <div class="c-recruit__colleft">
                    <%= tab.th %>
                  </div>
                  <div class="c-recruit__colright">
                    <%- tab.td %>
                  </div>
                </div>
                <% }) %>
                  <% } %>
          </div>
        </div>
      </div>
    </section>
    <!-- end recruit -->
    <!-- start company -->
    <section class="c-company" id="company">
      <h2 class="c-company__title">会社情報</h2>
      <table class="c-company__table">
        <% if (typeof company !='undefined' ) { %>
          <% company.main && company.main.forEach(tab=> { %>
            <tr class="c-company__tr">
              <th class="c-company__th">
                <%= tab.th %>
              </th>
              <td class="c-company__td">
                <%- tab.td %>
              </td>
            </tr>
            <% })} %>
      </table>
    </section>
    <!-- end company -->
    <!-- start lightbox -->
    <div class="c-lightbox">
      <div class="c-lightbox__overlay">
        <div class="c-lightbox__inner">
          <div class="c-lightbox__main">
            <img class="c-lightbox__img" src="./assets/img/media1.jpg" alt="fence">
            <p class="c-lightbox__close">閉じる</p>
          </div>
        </div>
      </div>
    </div>
    <!-- end lightbox -->
    <!-- start popup -->
    <div class="c-popup">
      <div class="c-popup__overlay">
        <div class="c-popup__inner">
          <% if (typeof interview !='undefined' ) { %>
            <% interview.main && interview.main.forEach (person=>{ %>
              <div class="c-popup__box" id="popup<%= person.id %>">
                <h2 class="c-popup__title">
                  <%= person.intro %>
                </h2>
                <div class="c-popup__main">
                  <div class="c-popup__left">
                    <div class="c-popup__ava">
                      <picture>
                        <source media="(max-width:767px" srcset="<%= person.avasp %>">
                        <img class="c-popup__avatar" src="<%= person.avapp %>" alt="<%= person.name %>">
                      </picture>
                    </div>
                    <div class="c-popup__info">
                      <div class="c-popup__text">
                        <p class="c-popup__name">
                          <%= person.name %>
                        </p>
                        <p class="c-popup__position">
                          <%= person.position %>
                        </p>
                      </div>
                    </div>
                  </div>
                  <div class="c-popup__right">
                    <% if (typeof person.qna !='undefined' ) { %>
                      <% person.qna.i && person.qna.i.forEach (p=>{ %>
                        <dl>
                          <dt class="c-popup__question">
                            <%= p.q %>
                          </dt>
                          <dd class="c-popup__answer">
                            <%- p.a %>
                          </dd>
                        </dl>
                        <% })} %>
                          <p class="c-popup__close">閉じる</p>
                  </div>
                </div>
              </div>
              <% })} %>
        </div>
      </div>
    </div>
    <!-- end popup -->
  </main>
  <!-- @@content -->
  