<footer class="c-footer">
  <div class="c-footer__main">
    <div class="c-footer__top">
      <div class="c-footer__logo">
        <a href=".<%= BASE_URL %>">
          <picture>
            <source media="(max-width: 767px)" srcset="./assets/img/logo-sp.png">
            <img src="./assets/img/logo.png" alt="ENTEX">
          </picture>
        </a>
      </div>
      <ul class="c-footer__list">
        <% if (typeof linklists !='undefined' ) { %>
          <% linklists.main && linklists.main.forEach(link=> { %>
            <li>
              <a class="c-footer__link" <% if (link.current || link.active) { %>class="is-active"<% } %> href="<%=
                    link.url %>"><%= link.title %></a>
            </li>
            <% }) %>
              <% } %>
      </ul>
      <div class="c-footer__btnrecruit">
        <a href="#recruit">
          <img class="c-footer__imgrecruit" src="./assets/img/assignment.svg" alt="募集要項">
          <span class="c-footer__txtrecruit">募集要項</span>
        </a>
      </div>
    </div>
    <div class="c-footer__intro">> 株式会社ENTEXコーポレートサイト</div>    
  </div>
  <div class="c-footer__copyright">© &nbsp;株式会社ENTEX. All rights reserved.</div>
</footer>